<template name="Upload">
    {{> LayoutHeader}}
    {{> LayoutNav}}
    <div id="content-container">
        <div id="page-title">
            <h1 class="page-header text-overflow">Upload</h1>
        </div>
        <div id="page-content">
            <div class="content-area">
                <br/>
                <div class="row warpper-tool">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="form-label-sm col-md-3">อับโหลด</label>
                            <div class="col-md-6">
                                <input id="uploadElement" class="form-control" type="file" multiple="" accept=".txt" />
                            </div>
                        </div>
                        <div class="form-group row" id="fileListArea">
                            <label class="form-label-sm col-md-3">รายชื่อ</label>
                            <div class="col-md-6">
                                <ul id="fileList">

                                </ul>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-3 col-md-6">
                                <button id="submitUpload" class="btn btn-success">ยืนยัน</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row warpper-tool">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="form-label-sm col-md-3">Reset data</label>
                            <div class="col-md-6">
                                <button class="btn btn-danger" id="resetData">reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> LayoutFooter}}
</template>
