<template name="ModalSAPTransferOperateCompare">
    <div class="modal" id="modalSAPTransferOperateCompare" role="dialog" aria-labelledby="myModalLabel"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalSAPTransferOperateCompareTitle"></h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Before</th>
                            <th>After</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Movement Type</th>
                            <td id="compare1_movement_type"></td>
                            <td id="compare2_movement_type"></td>
                        </tr>
                        <tr>
                            <th>Item Code / Material Number</th>
                            <td id="compare1_item_code"></td>
                            <td id="compare2_material_number"></td>
                        </tr>
                        <tr>
                            <th>Lot No / Batch No</th>
                            <td id="compare1_lot_no"></td>
                            <td id="compare2_batch_no"></td>
                        </tr>
                        <tr>
                            <th>Weight</th>
                            <td id="compare1_weight"></td>
                            <td id="compare2_weight"></td>
                        </tr>
                        <tr>
                            <th>Ship To</th>
                            <td id="compare1_ship_to"></td>
                            <td id="compare2_ship_to"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success" id="syncTransferOperateBtn" data-id="">Sync</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>