<template name="ModalExportTransferOrder">
<div class="modal" id="modalExportTransferOrder" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalExportTransferOrderTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Transfer Order No</label>
                    <input type="text" name="transfer_order_no" class="form-control exportTransferOrderForm" readonly="readonly" field="transfer_order_no">
                </div>
                <div class="form-group">
                    <label>Status Flag</label>
                    <input type="text" name="status_flag" class="form-control exportTransferOrderForm" readonly="readonly" field="status_flag">
                </div>
                <div class="form-group">
                    <label>Movement Type</label>
                    <input type="text" name="movement_type" class="form-control exportTransferOrderForm" readonly="readonly"  field="movement_type">
                </div>
                <div class="form-group">
                    <label>Transfer Order Item</label>
                    <input type="text" name="transfer_order_item" class="form-control exportTransferOrderForm" readonly="readonly" field="transfer_order_item">
                </div>
                <div class="form-group">
                    <label>Item Code</label>
                    <input type="text" name="item_code" class="form-control exportTransferOrderForm" readonly="readonly" field="item_code">
                </div>
                <div class="form-group">
                    <label>Lot No</label>
                    <input type="text" name="lot_no" class="form-control exportTransferOrderForm" readonly="readonly" field="lot_no">
                </div>
                <div class="form-group">
                    <label>Delivery Order No</label>
                    <input type="text" name="delivery_order_no" class="form-control exportTransferOrderForm" readonly="readonly" field="delivery_order_no">
                </div>
                <div class="form-group">
                    <label>Weight</label>
                    <input type="text" name="weight" class="form-control exportTransferOrderForm" readonly="readonly" field="weight">
                </div>
                <div class="form-group">
                    <label>Ship To</label>
                    <input type="text" name="ship_to" class="form-control exportTransferOrderForm" readonly="readonly" field="ship_to">
                </div>
                <div class="form-group">
                    <label>Reject Reason</label>
                    <input type="text" name="reject_reason" class="form-control exportTransferOrderForm" readonly="readonly" field="reject_reason">
                </div>
                <div class="form-group">
                    <label>Actual Weights</label>
                    <input type="text" name="actual_weights" class="form-control exportTransferOrderForm" readonly="readonly" field="actual_weights">
                </div>
                <div class="form-group">
                    <label>Archive Date</label>
                    <input type="text" name="archive_date" class="form-control exportTransferOrderForm" readonly="readonly" field="archive_date">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</template>