<template name="ModalSAPTransferOperate">
    <div class="modal" id="modalSapTransferOperate" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalSapTransferOperateTitle"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Transfer Order Number</label>
                        <input type="text" name="transfer_order_number" class="form-control sapTransferOperateForm" readonly="readonly" field="transfer_order_number">
                    </div>
                    <div class="form-group">
                        <label>Transfer Order Item</label>
                        <input type="text" name="transfer_order_item" class="form-control sapTransferOperateForm" readonly="readonly" field="transfer_order_item">
                    </div>
                    <div class="form-group">
                        <label>Movement Type</label>
                        <input type="text" name="movement_type" class="form-control sapTransferOperateForm" readonly="readonly" field="movement_type">
                    </div>
                    <div class="form-group">
                        <label>Material Number</label>
                        <input type="text" name="material_number" class="form-control sapTransferOperateForm" readonly="readonly"  field="material_number">
                    </div>
                    <div class="form-group">
                        <label>Batch No</label>
                        <input type="text" name="batch_no" class="form-control sapTransferOperateForm" readonly="readonly" field="batch_no">
                    </div>
                    <div class="form-group">
                        <label>Sales And Distribution Document Number</label>
                        <input type="text" name="sales_and_distribution_document_number" class="form-control sapTransferOperateForm" readonly="readonly" field="sales_and_distribution_document_number">
                    </div>
                    <div class="form-group">
                        <label>Weight</label>
                        <input type="text" name="weight" class="form-control sapTransferOperateForm" readonly="readonly" field="weight">
                    </div>
                    <div class="form-group">
                        <label>Destination Storage Unit Number</label>
                        <input type="text" name="destination_storage_unit_number" class="form-control sapTransferOperateForm" readonly="readonly" field="destination_storage_unit_number">
                    </div>
                    <div class="form-group">
                        <label>Ship To</label>
                        <input type="text" name="ship_to" class="form-control sapTransferOperateForm" readonly="readonly" field="ship_to">
                    </div>
                    <div class="form-group">
                        <label>Update Time</label>
                        <input type="text" name="update_time" class="form-control sapTransferOperateForm" readonly="readonly" field="update_time">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>