<template name="ModalSAPMasterItem">
    <div class="modal" id="modalSapMasterItem" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalSapMasterItemTitle"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Material Number</label>
                        <input type="text" name="material_number" class="form-control sapMasterForm" readonly="readonly" field="material_number">
                    </div>
                    <div class="form-group">
                        <label>Material Description</label>
                        <input type="text" name="material_description" class="form-control sapMasterForm" readonly="readonly" field="material_description">
                    </div>
                    <div class="form-group">
                        <label>Material Group</label>
                        <input type="text" name="material_group" class="form-control sapMasterForm" readonly="readonly" field="material_group">
                    </div>
                    <div class="form-group">
                        <label>Base Unit Of Measure</label>
                        <input type="text" name="base_unit_of_measure" class="form-control sapMasterForm" readonly="readonly"  field="base_unit_of_measure">
                    </div>
                    <div class="form-group">
                        <label>Secondary Unit Of Measure</label>
                        <input type="text" name="secondary_unit_of_measure" class="form-control sapMasterForm" readonly="readonly" field="secondary_unit_of_measure">
                    </div>
                    <div class="form-group">
                        <label>Weight Per Bag</label>
                        <input type="number" name="weight_per_bag" class="form-control sapMasterForm" readonly="readonly" field="weight_per_bag">
                    </div>
                    <div class="form-group">
                        <label>Storage Type</label>
                        <input type="text" name="storage_type" class="form-control sapMasterForm" readonly="readonly" field="storage_type">
                    </div>
                    <div class="form-group">
                        <label>Package Type</label>
                        <input type="text" name="package_type" class="form-control sapMasterForm" readonly="readonly" field="package_type">
                    </div>
                    <div class="form-group">
                        <label>Deletion Flag</label>
                        <input type="text" name="deletion_flag" class="form-control sapMasterForm" readonly="readonly" field="deletion_flag">
                    </div>
                    <div class="form-group">
                        <label>Update Time</label>
                        <input type="text" name="update_time" class="form-control sapMasterForm" readonly="readonly" field="update_time">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>