<template name="ModalSAPMasterItemCompare">
    <div class="modal" id="modalSapMasterItemCompare" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalSapMasterItemCompareTitle"></h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Before</th>
                                <th>After</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Name / Description</th>
                                <td id="compare_item_name"></td>
                                <td id="compare_material_description"></td>
                            </tr>
                            <tr>
                                <th>Type / Group</th>
                                <td id="compare_item_type"></td>
                                <td id="compare_material_group"></td>
                            </tr>
                            <tr>
                                <th>Primary UOM / Base UOM</th>
                                <td id="compare_primary_uom"></td>
                                <td id="compare_base_unit_of_measure"></td>
                            </tr>
                            <tr>
                                <th>Secondary UOM</th>
                                <td id="compare_secondary_uom"></td>
                                <td id="compare_secondary_unit_of_measure"></td>
                            </tr>
                            <tr>
                                <th>Entering qty / Weight per bag</th>
                                <td id="compare_entering_qty"></td>
                                <td id="compare_weight_per_bag"></td>
                            </tr>
                            <tr>
                                <th>Moving Type / Storage Type</th>
                                <td id="compare_moving_type"></td>
                                <td id="compare_storage_type"></td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="text-align: right; font-size: 0.7em;">* UOM = Unit Of Measure</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success" id="syncItemMaserBtn" data-id="">Sync</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>