<template name="Authorization">
    <div class="container login-page">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div class="logo-container rem-margin">
                    <img src="/image/profile/3.png" style="border-radius: 100%; border: 5px solid rgba(255,255,255,0.3); margin-bottom: 10px;" alt="Profile Picture">
                    <p style="margin-bottom: 15px; font-size: 18px;"><span>Admin Gears</span></p>
                </div>
                <div class="content-box-border row" style="padding: 8px 0px 0px; border: 0px solid #fff;">
                    <div class="col-md-12" style="padding: 0px;">
                        <dl class="row rem-margin">
                            <dt class="col-sm-3 info-box-label" style="color: #fff;">Company</dt>
                            <dd class="col-sm-9 info-box-label" style="padding-right: 0px;">
                                <select class="form-control form-control-sm auth-form" field="company_id" field-type="int" id="company_id" form-check="true">
                                    <option value="0">Select</option>
                                    {{#each listCompany}}
                                    <option value="{{company_id}}">{{company_no}} : {{company_shortname}}</option>
                                    {{/each}}
                                </select>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-12" style="padding: 0px;">
                        <dl class="row rem-margin">
                            <dt class="col-sm-3 info-box-label" style="color: #fff;">Branch</dt>
                            <dd class="col-sm-9 info-box-label" style="padding-right: 0px;">
                                <select class="form-control form-control-sm auth-form" field="branch_id" field-type="int" id="branch_id" form-check="true">
                                    <option value="0">Select</option>
                                    {{#each listBranch}}
                                    <option value="{{branch_id}}">{{branch_no}} : {{branch_shortname}}</option>
                                    {{/each}}
                                </select>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-12" style="padding: 0px;">
                        <dl class="row rem-margin">
                            <dt class="col-sm-3 info-box-label" style="color: #fff;">Brand</dt>
                            <dd class="col-sm-9 info-box-label" style="padding-right: 0px;">
                                <select class="form-control form-control-sm auth-form" field="brand_id" field-type="int" id="brand_id" form-check="true">
                                    <option value="0">Select</option>
                                    {{#each listBrand}}
                                    <option value="{{brand_id}}">{{brand_no}} : {{brand_name}}</option>
                                    {{/each}}
                                </select>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary btn-block" id="btnSaveAuth">Next</button>
                </div>
            </div>
        </div>
    </div>
    <style>
    body {
        background-color: #3949ab;
    }
    </style>
</template>
