<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="asrs">
    <title>SAP Interface</title>
    <!-- <link href="/css/theme-purple.css" rel="stylesheet"> -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/font/webfont.css" rel="stylesheet">
    <!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->
    <!-- <link href="/css/animate.css" rel="stylesheet"> -->
    <!-- <script src="/vis/vis.js"></script> -->
    <!-- <link href="/vis/vis.css" rel="stylesheet"> -->
</head>
