<template name="exportTransferOrder">
    {{> LayoutHeader}}
    {{> LayoutNav}}
    <div id="content-container">
        <div id="page-title">
            <h1 class="page-header text-overflow">Export Transfer Order</h1>
        </div>
        <div id="page-content">
            <div class="content-area">
                <br/>
                <div class="row warpper-tool">
                    <div class="col-md-12 tool-right">
                        <div class="form-inline">
                            <input type="text" class="form-control form-control-sm" placeholder="Search" id="input_search">
                            <button class="btn btn-sm btn-primary" title="กดปุ่มเพื่อค้นหาข้อมูล"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row warpper-tool">
                    <div class="col-md-12">
                        <div class="tools-warpper">
                            <div id="exportTableArea">
                                {{> tabular table=TabularTables.ExportTransferOrderFull selector=selector class="table"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> ModalExportTransferOrder }}
    </div>
    {{> LayoutFooter}}
</template>