<template name="AuthorizationSetup">
    <div class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Authorization Setup</h5>
                </div>
                <div class="modal-body">
                    <div class="content-box-border row">
                        <div class="col-md-12">
                            <dl class="row">
                                <dt class="col-sm-5 info-box-label">Company :</dt>
                                <dd class="col-sm-7 info-box-label">
                                    <select class="form-control form-control-sm quotationentry-form" field="company_id" field-type="int" id="company_id" form-check="true">
                                        <option value="0">Select</option>
                                        {{#each listCompany}}
                                        <option value="{{company_id}}">{{company_no}} : {{company_shortname}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-12">
                            <dl class="row">
                                <dt class="col-sm-5 info-box-label">Branch :</dt>
                                <dd class="col-sm-7 info-box-label">
                                    <select class="form-control form-control-sm quotationentry-form" field="branch_id" field-type="int" id="branch_id" form-check="true">
                                        <option value="0">Select</option>
                                        {{#each listBranch}}
                                        <option value="{{branch_id}}">{{branch_no}} : {{branch_shortname}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-12">
                            <dl class="row">
                                <dt class="col-sm-5 info-box-label">Brand :</dt>
                                <dd class="col-sm-7 info-box-label">
                                    <select class="form-control form-control-sm quotationentry-form" field="brand_id" field-type="int" id="brand_id" form-check="true">
                                        <option value="0">Select</option>
                                        {{#each listBrand}}
                                        <option value="{{brand_id}}">{{brand_no}} : {{brand_name}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" id="btnSaveAuth">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
