<template name="LayoutHeader">
    <header id="navbar">
        <div id="navbar-container" class="boxed">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" style="margin-right: 0;">
                    <img src="/image/scg/scg.png" alt="" class="brand-icon">
                </a>
            </div>
            <div class="navbar-content">
                <ul class="nav navbar-top-links pull-left">
                    <li class="tgl-menu-btn">
                        <a class="mainnav-toggle" href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="system-title-1">SAP</p>
                            <p class="system-title-2">SAP INTERFACE</p>
                        </a>
                    </li>
                </ul>
                <ul class="user-nav-warpper nav navbar-top-links pull-right">
                    <li id="dropdown-user" class="btn-group">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-closeicon">
                            <span class="pull-right">
                                <img class="img-circle img-user media-object" src="/image/profile/3.png" alt="Profile Picture">
                                <i class="demo-pli-male ic-user"></i>
                            </span>
                            <div class="username hidden-xs">{{currentUser.username}}</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <center>
                                <button type="button" class="btn btn-sm btn-block btn-danger" id="btnLogout">logout</button>
                            </center>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</template>
<template name="LayoutNav">
    <nav id="mainnav-container">
        <div id="mainnav">
            <div id="mainnav-menu-wrap">
                <div class="nano">
                    <div class="nano-content">
                        <ul id="mainnav-menu" class="list-group">
                            <li class="menu-collapse" id="home">
                                <a href="/">
                                    <i class="fa fa-home"></i>
                                    <span class="menu-title">
                                        <span>Dashboard</span>
                                    </span>
                                </a>
                            </li>
                            <li class="menu-collapse {{isActiveRoute regex='masterItem|transferOperate|exportTransferOrder' class='active-link'}}" id="report">
                                <a href="#">
                                    <i class="fa fa-bar-chart"></i>
                                    <span class="menu-title">
                                        <span>Reports</span>
                                    </span>
                                    <i class="arrow"></i>
                                </a>
                                <ul class="{{isNotActiveRoute regex='masterItem|transferOperate|exportTransferOrder' class='collapse'}} sub-menu-collapse">
                                    <li>
                                        <a class="nav-menu-link {{isActiveRoute regex='masterItem' class='active'}}" href="/report/sapmasteritem">
                                            <i class="fa fa-caret-right" aria-hidden="true"></i>SAP Master Item</a>
                                    </li>
                                    <li>
                                        <a class="nav-menu-link {{isActiveRoute regex='transferOperate' class='active'}}" href="/report/saptransferoperate">
                                            <i class="fa fa-caret-right" aria-hidden="true"></i>SAP Transfer Operate</a>
                                    </li>
                                    <li>
                                        <a class="nav-menu-link {{isActiveRoute regex='exportTransferOrder' class='active'}}" href="/report/exporttransferorder">
                                            <i class="fa fa-caret-right" aria-hidden="true"></i>Export Transfer Order</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>
<template name="alertModal">
    <div class="modal fade" tabindex="-1" role="dialog" id="alert-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Alert!</h4>
                </div>
                <div class="modal-body">
                    <h4 id="alert-content" style="text-align: center"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="LayoutFooter">
    <footer id="footer">
        <p>Copyright © 2016 All rights reserved.</p>
        <p class="pull-right">Version 0.0.1 Update 05/11/2017</p>
    </footer>
</template>