<template name="Userrole">
    {{> LayoutHeader}} {{> LayoutNav}}
    <div id="content-container">
        <div id="page-title">
            <h1 class="page-header text-overflow">Users role</h1>
        </div>
        <div id="page-content">
            <div class="content-area">
                <div class="warpper-area">
                    <div class="row warpper-tool">
                        <div class="col-md-6 tool-left">
                            <button class="btn btn-sm btn-createsalary" title="กดปุ่มเพื่อเพิ่มข้อมูล" id="create"><i class="fa fa-file-text-o"></i></button>
                        </div>
                        <div class="col-md-6 tool-right">
                            <div class="form-inline" style="display: inline-block;">
                                <input type="text" class="form-control form-control-sm" placeholder="Search" id="input_search">
                                <button class="btn btn-sm btn-primary" id="search_MngRoom" title="กดปุ่มเพื่อค้นหาข้อมูล"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="warpper-table">
                        {{> tabular table=TabularTables.Roles selector=filtertable class="table"}}
                        <!-- {{> ReactiveDatatable tableData=reactiveDataMngRoom options=optionsObjectCompnay class="table table-striped table-hover gears-table table-nowrap"}} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalManage" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Manage Role</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-xs-4" for="">Role Name :</label>
                        <div class="col-xs-8">
                            <input type="text" name="role_name" class="form-control detailForm" field="role_name">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-xs-4" for="">Description :</label>
                        <div class="col-xs-8">
                            <textarea name="role_desc" class="form-control detailForm" field="role_desc"> </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-success" id="saveModal">Save</button>
                </div>
            </div>
        </div>
    </div>
    {{> LayoutFooter}}
</template>