.login-wrapper {
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
    background-color: white;
    font-family: 'kanit';
}

.login-header {
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-header .filter::after {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.cards {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
    color: #2b2b2b;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border: 0 none;
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card-login {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 8px;
    color: #2b2b2b;
    max-width: 350px;
    margin: 120px 0 70px;
    min-height: 380px;
    padding: 30px;
    z-index: 1;
}

.card.card-login:hover {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
}

.card-login label {
    margin-top: 15px;
}

.card-login .title {
    color: rgb(218, 33, 33);
    text-align: center;
}

.card-login .btn {
    margin-top: 30px;
}

.card-login .forgot {
    text-align: center;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

.title h3 {
    text-align: center;
}

.title.text-center {
    margin-bottom: 50px;
}

.filter {
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.login-background .container {
    margin-top: 11%;
    position: relative;
    z-index: 3;
}

.login-form .form-control {
    border: 1px solid #494949 !important;
}

.login-form .input-group .input-group-addon {
    padding-right: 2px;
}

.login-form .input-group .form-control {
    margin-left: -1px;
}

.btn-login {
    margin-top: 30px;
    border-radius: 20px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    border: solid 1.5px rgb(250, 0, 0);
    color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 16px;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active {
    background-color: #cf0101;
    color: #FFFFFF;
    border-color: #cf0101;
}

.card-login .forgot {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}