<template name="Login">
    <div class="login-wrapper">
        <div class="login-header" style="background-image: url('/image/scg/SCG_BG_LOGIN.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 ml-auto mr-auto">
                        <div class="cards card-login">
                            <h3 class="title">เข้าสู่ระบบ</h3>
                            <form class="login-form" id="loginForm">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" />
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Password" id="password" />
                                <button class="btn-login">LOG IN</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="">ลืมรหัสผ่าน ?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="footer register-footer text-center">
                    <h6>&copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with
                        <i class="fa fa-heart heart"></i> by Creative Tim</h6>
                </div> -->
            </div>
        </div>
    </div>
</template>


<!-- <form id="loginForm">
    <div class="form-group input-group">
        <span class="input-group-addon">
            <i class="fa fa-user" style="position: absolute; top: 10px; left: 8px;"></i>
        </span>
        <input class="form-control" type="text" name="username" placeholder="username" id="username" />
    </div>
    <div class="form-group input-group">
        <span class="input-group-addon">
            <i class="fa fa-lock" style="position: absolute; top: 10px; left: 8px;"></i>
        </span>
        <input class="form-control" type="password" name="password" placeholder="password" id="password" />
    </div>
    <div class="checkbox">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-secondary btn-block">Login</button>
    </div>
</form> -->