<template name="User">
    {{> LayoutHeader}} {{> LayoutNav}}
    <div id="content-container">
        <div id="page-title">
            <h1 class="page-header text-overflow">Users</h1>
        </div>
        <div id="page-content">
            <div class="content-area">
                <div class="warpper-area">
                    <div class="row warpper-tool">
                        <div class="col-md-6 tool-left">
                            <button class="btn btn-sm btn-createsalary" title="กดปุ่มเพื่อเพิ่มข้อมูล" id="create"><i class="fa fa-file-text-o"></i></button>
                        </div>
                        <div class="col-md-6 tool-right">
                            <div class="form-inline" style="display: inline-block;">
                                <input type="text" class="form-control form-control-sm" placeholder="Search" id="input_search">
                                <button class="btn btn-sm btn-primary" id="search_MngRoom" title="กดปุ่มเพื่อค้นหาข้อมูล"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="warpper-table">
                        {{> tabular table=TabularTables.Users selector=filterdatetime class="table"}}
                        <!-- {{> ReactiveDatatable tableData=reactiveDataMngRoom options=optionsObjectCompnay class="table table-striped table-hover gears-table table-nowrap"}} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalUser" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Manage User</h4>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>User role</label>
                            <select type="text" name="role_id" class="form-control registerForm" field="role_id">
                                <option value="">select</option>
                                {{#each getuserrole}}
                                <option value="{{role_id}}">{{role_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control registerForm" field="username">
                    </div>
                    <div class="form-group form-password">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control registerForm" field="password">
                    </div>
                    <div class="form-group form-password">
                        <label>Repeat Password</label>
                        <input type="password" name="password_confirm" class="form-control registerForm" field="password_confirm">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" class="form-control registerForm " field="email">
                    </div>
                    <div class="form-group">
                        <label>Firstname</label>
                        <input type="text" name="firstname" class="form-control registerForm" field="firstname">
                    </div>
                    <div class="form-group">
                        <label>Lastname</label>
                        <input type="text" name="lastname" class="form-control registerForm" field="lastname">
                    </div>
                    <div class="form-group">
                        <label>Tel</label>
                        <input type="text" name="tel_number" class="form-control registerForm" field="tel_number">
                    </div>
                    <div class="row">
                        <div class="col-xs-12" align="right">
                            <button class="btn changepass" id="openChangePassword">Change Password</button>
                            <!--  <button class="btn" id="openGroup">Group</button> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>User role</label>
                            <select type="text" name="role_id" class="form-control registerForm" field="role_id">
                                <option value="">select</option>
                                    {{#each getuserrole}}
                                    <option value="{{role_id}}">{{role_name}}</option>
                                    {{/each}}
                            </select>
                        </div>
                    </div>
                </div> -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-success" id="saveUser">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalChangePassword" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control changepass" field="password">
                    </div>
                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input type="password" name="password_confirm" class="form-control changepass" field="password_confirm">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-success" id="savePassword">Save</button>
                </div>
            </div>
        </div>
    </div>
    {{> LayoutFooter}}
</template>