<template name="masterItem">
    {{> LayoutHeader}}
    {{> LayoutNav}}
    <div id="content-container">
        <div id="page-title">
            <h1 class="page-header text-overflow">SAP Master Item</h1>
        </div>
        <div id="page-content">
            <div class="content-area">
                <br/>
                <div class="row warpper-tool">
                    <div class="col-md-6 tool-left">
                        <div class="form-inline">
                            <label class="form-label-sm">Synced</label>
                            <select class="form-control form-control-sm" id="syncStatus">
                                <option value="-1">All</option>
                                <option value="0">Un Sync</option>
                                <option value="1">Synced</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 tool-right">
                        <div class="form-inline">
                            <input type="text" class="form-control form-control-sm" placeholder="Search" id="input_search">
                            <button class="btn btn-sm btn-primary" title="กดปุ่มเพื่อค้นหาข้อมูล"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row warpper-tool">
                    <div class="col-md-12">
                        <div class="tools-warpper">
                            <div>
                                {{> tabular table=TabularTables.SapItemMasterFull selector=selector class="table"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> ModalSAPMasterItem }}

        {{> ModalSAPMasterItemCompare }}
    </div>
    {{> LayoutFooter}}
</template>