/*****************************************************************************/
/* Companyconfig: Style */
/*****************************************************************************/
.calendar {
}

/*.fc-day{
  background-color: #c0eab9;
}*/

/*.fc-unthemed .fc-today {
  background: #c0eab9;
}*/

.fc-unthemed .fc-row, .fc-unthemed hr, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #a4aea3;
}


/*.fc-time-grid-event {
    opacity: 0.5;
    left: 0% !important;
    right: 0% !important;
    margin-right: 0px !important;
}
*/
/*.fc-slats td {
    height: 2.5em;
    border-bottom: 0;
}
*/
.fc-event-container{
    /*width:1px;*/
}
/*.fc td, .fc th {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
    border: 1px solid #000;
}*/
.fc-scroller {
   overflow-y: hidden !important;
}
tr:nth-child(9) {
/*    background: #dd6b6b;*/
      border-right-color: #000;

}

tr:nth-child(10) {
/*    background: #dd6b6b;*/
    border-right-color: #000;
}

/*.fc td{
    background-color: #333 !important;
color: #ffffff;
}*/

/*.fc td, .fc th {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
}*/


#wrap {
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 130px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#Calendarsubject1 {
    float: left;
    width: 100%;
}
