/* mongol tool */

#Mongol.Mongol_expand {
    width: 100% !important;
    max-width: 500px !important;
}

.form-alert {
    border: 1px solid #FF0000 !important;
}

.hide {
    display: none !important;
}

* {
    font-family: 'kanit'
}

label {
    font-size: 14px;
}


/* font face */

@font-face {
    font-family: 'kanit';
    src: url('/font/Kanit-Light.eot');
    src: url('/font/Kanit-Light.eot?#iefix') format('embedded-opentype'), url('/font/Kanit-Light.ttf') format('truetype');
}


/* main */

.clearfix {
    display: none;
}

a {
    text-decoration: none !important;
}


/* nav */

#navbar .brand-title {
    padding: 0 15px 0 45px;
    height: 100%;
}

#navbar .dropdown-menu,
#navbar .dropdown-menu a {
    color: #55595c !important;
}

.brand-icon {
    display: inline-block;
    float: left;
    padding: 5px 10px;
    height: 100%;
}

.badge-danger {
    background-color: #ef5350
}

.navbar-top-links>li {
    float: left
}

.navbar-top-links>li>a {
    display: table-cell;
    padding: 0 12px;
    vertical-align: middle;
    height: 40px;
    /*color: #758697;*/
    transition: all .4s
}

.navbar-top-links li:first-child {
    border-left: 0px solid rgba(0, 0, 0, 0.05);
}

.navbar-top-links li {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-content {
    position: relative;
    left: 0;
}

.header-tabs {
    margin-top: 10px;
}

.header-tabs > li {
    margin-left: 10px;
}

.badge-header {
    position: absolute;
    font-size: .85em;
    font-weight: normal;
    top: 50%;
    margin-top: -1.5em;
    min-width: 1.85em;
    padding: 3px 5px;
    right: 3px
}

#page-content {
    padding: 0px;
}

.pad-lft {
    padding-left: 15px
}

.pad-rgt {
    padding-right: 15px
}

.pad-all {
    padding: 15px
}

.mar-no {
    margin: 0!important
}

.text-semibold {
    font-weight: 600
}

.bord-btm {
    border-bottom: 1px solid #e9e9e9
}

.navbar-top-links .head-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.navbar-top-links .head-list li a {
    display: block;
    padding: 10px 15px;
    background: transparent
}

.navbar-top-links .head-list li a:hover {
    background: rgba(0, 0, 0, 0.05);
    color: #758697
}

#page-content:not(:first-class) {
    padding: 5px 15px 0
}

.brand-text {
    display: block;
    font-size: 36px;
    font-weight: 600;
    position: relative;
    line-height: 1;
}

.user-nav-warpper:hover {
    background: rgba(0,0,0,0.05);
}

.username {
    white-space: nowrap;
    margin: 8px 10px;
    padding-right: 30px;
}

.badge-header:empty {
    display: inline;
    border-radius: 50%;
    min-width: 0;
    padding: 5px;
    right: 0.65em;
    top: 2.2em;
    animation-iteration-count: 5
}

#mainnav {
    height: 100%;
    background-color: #1e1b21;
}

#mainnav .list-header {
    font-weight: 600;
    color: #747e88
}

#mainnav .list-divider {
    border-color: rgba(0, 0, 0, 0.1);
    margin: 10px 0
}

#mainnav .mainnav-profile .list-group {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #202a2f;
    margin: 0
}

#mainnav .mainnav-profile .list-group-item {
    color: #abb1b7;
    padding: 12px 20px
}

#mainnav .mainnav-profile .list-group-item:hover {
    color: #fff;
    background-color: transparent
}

#mainnav li .arrow {
    float: right;
    line-height: 1.42857;
    top: -2px;
    position: relative;
    padding-right: 0px;
}

#mainnav li .arrow:before {
    content: '';
    border-style: solid;
    border-width: .1em .1em 0 0;
    display: inline-block;
    height: .4em;
    left: 0;
    position: relative;
    top: 0;
    width: .4em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

#mainnav li.active>a>.arrow:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-image: url(/image/gears/nav-profile.png);*/
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 14px;
}

.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.has-scrollbar>.nano-content::-webkit-scrollbar {
    display: block
}

.navbar-top-links .dropdown-menu .nano:not(.scrollable) .nano-content {
    position: static
}

.nano>.nano-content::-webkit-scrollbar {
    display: none
}

.nano>.nano-content:focus {
    outline: 0!important
}

#page-title {
    width: 100%;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #ED2324;
    height: 56px;
}

#page-title h1 {
    position: relative;
    top: 3px;
}

.text-overflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.img-user {
    width: 32px;
    height: 32px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.page-header {
    border: 0 none;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 0px;
    position: relative;
    display: inline-block;
    top: -2px;
}

.page-header .label {
    margin-right: .5em
}

#mainnav-container {
    position: absolute;
    width: 220px;
    /*left: -220px;*/
    left: 0;
    padding-top: 40px;
    top: 0;
    bottom: 0;
    z-index: 4;
    min-height: 100%
}

#mainnav-menu-wrap {
    height: 100%
}

#mainnav-menu a {
    display: block;
    color: #abb1b7;
    padding: 10px 15px;
}

#mainnav-menu a strong {
    font-weight: 600
}

#mainnav-menu>li>a:hover,
#mainnav-menu>li>a:active {
    color: #fff
}

#mainnav-menu>li>a.hover {
    color: #fff;
    background-color: #2c3a41;
    box-shadow: inset 2px 0 0 0 #0c80df
}

#mainnav-menu>.active-link>a,
#mainnav-menu>.active-link>a:hover {
    color: #fff;
    padding-left: 20px;
    font-weight: 600;
    /*box-shadow: inset 2px 0 0 0 #0c80df*/
}

#mainnav-menu>.active-sub>a,
#mainnav-menu>.active-sub>a:hover {
    color: #fff;
    font-weight: 600
}

#mainnav-menu>.active {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #202a2f
}

#mainnav-menu>.active .active {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #1c2429
}

#mainnav-menu ul .list-header {
    padding: 10px 20px 12px 55px
}

#mainnav-menu ul ul a {
    padding: 10px 20px 12px 65px
}

#mainnav-menu i {
    position: relative;
    top: 1px;
    padding: 0 10px 0 0;
    font-size: 1.15em
}

#mainnav-menu .menu-collapse li i {
    padding: 0 10px 0 0;
    color: rgba(255, 255, 255, 0.2);
}

#mainnav-menu .hide-lg {
    display: none
}

#mainnav-menu ul a,
.menu-popover .sub-menu ul a {
    padding: 5px 5px 5px 35px;
    font-size: 12px;
}

#mainnav-menu ul a:hover,
.menu-popover .sub-menu ul a:hover {
    color: #fff
}

#mainnav-menu ul ul a:hover,
.menu-popover .sub-menu ul ul a:hover {
    color: #fff
}

#mainnav-menu ul .active-link a,
.menu-popover .sub-menu ul .active-link a {
    font-weight: 600;
    color: #fff;
    box-shadow: inset 2px 0 0 0 #0c80df
}

#mainnav-menu ul,
.mainnav-widget ul,
.menu-popover ul {
    list-style: none;
    padding-left: 0
}

.navbar-brand {
    background-color: transparent;
    color: #fff;
    padding: 0;
    height: 40px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 220px;
    padding: 0px !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #fff
}


/* footer */

#footer {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    color: #758697;
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
    font-size: 14px;
    margin-left: 220px;
    padding: 2px 5px;
}

#footer p {
    display: inline-block;
    margin-bottom: 0px
}

#footer .show-fixed {
    display: none
}

#footer .hide-fixed {
    display: block;
    height: 100%
}


/* content */

#mainnav-container {
    background-color: #0e0e0e;
}

#mainnav-container.nav-collapse {
    width: 44px;
}

#mainnav-menu>.active-link>a,
#mainnav-menu>.active-link>a:hover {
    padding-left: 15px !important;
}

.navbar-brand.nav-collapse {
    width: 44px;
}

.navbar-content.nav-content-collapse {
    margin-left: 44px;
}

#content-container.nav-content-collapse {
    margin-left: 44px;
}

#footer.nav-content-collapse {
    margin-left: 44px;
}

.menu-collapse .nav-title-collapse {
    display: none;
}

.fa.nav-icon-collapse {
    display: initial
}

#content-container {
    margin-left: 220px;
    height: calc(100vh - 25px);
    overflow-y: auto;
}


/*.navbar-content i {
position: relative;
top: 2px;
}*/


/* content */

.content-area {
    float: left;
    width: 100%;
    /*min-height: 75%;*/
    height: calc(100vh - 121px);
    overflow-y: auto;
    background-color: #f3f5f9;
}

.content-area h1 {
    font-size: 2.5em;
    color: #d07415;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 20px 0px 10px 0px;
}


/*
.warpper-area {
    width: 100%;
    background-color: #fff;
}*/

.sub-warpper {
    position: relative;
    margin: 0px 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.sub-warpper-title {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.sub-warpper-title i {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #ddd;
}

.sub-warpper-title h5 {
    margin-bottom: 0px;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);*/
}

.sub-warpper-content {
    /*padding: 10px;*/
}

.warpper-tool {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.warpper-tool.row {
    margin-right: 0px;
    margin-left: 0px;
}

.warpper-tool .col-md-6 {
    padding: 0px;
}

.warpper-tool input.form-control-sm,
.warpper-tool select.form-control-sm {
    height: 27px !important;
}

table.table-bordered.dataTable {
    border-collapse: collapse !important;
}

.table thead th {
    border-bottom: 3px solid #c31112 !important;
}

.warpper-table {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.Expanbtn {
    cursor: pointer;
}

.warpper-table .table {
    width: 100% !important;
    margin: 0px !important;
    border-bottom: 0px solid #eceeef;
}

.warpper-table thead tr {
    border-top: 0px solid #eceeef;
}

.warpper-table th,
.warpper-table td {
    /*vertical-align: middle !important;*/
    /*padding: 8px 15px !important;*/
}

.warpper-table tbody tr:hover {
    /*background-color: #f3f5f9;*/
}

.table-btn-ctrl tbody td:last-child {
    text-align: right;
}

.table-non-ctrl tbody th:last-child,
.table-non-ctrl tbody td:last-child {
    text-align: left;
}

.modal-header {
    border-bottom: 3px solid #ed2324 !important;
}

.modal-body .table {
    margin: 0px !important;
    border-top: 0px solid #eceeef;
    border-bottom: 0px solid #eceeef;
}

.modal-body .table th,
.modal-body .table td {
    border-top: 0px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.table th {
    /*padding: 10px 15px !important;*/
    /*font-size: 14px;*/
}

.table td {
    /*padding: 5px 15px !important;*/
    /*font-size: 14px;*/
}

div.dataTables_wrapper div.dataTables_length select {
    width: 50px;
}

.pagination a {
    padding: 0 8px;
    line-height: 25px;
    font-size: 12px;
}

.calendar-box {
    background: url(image/gears/icon-calendar.png) transparent center right no-repeat !important;
}

.calendar-box:disabled {
    background: url(image/gears/icon-calendar.png) #eceeef center right no-repeat !important;
}

.calendar-input {
    background: url(image/gears/icon-calendar.png) transparent center right no-repeat !important;
}

.calendar-input:disabled {
    background: url(image/gears/icon-calendar.png) #eceeef center right no-repeat !important;
}


/*
.warpper-table td a {
    text-decoration: underline !important;
    color: rgb(0, 0, 238) !important;
    cursor: pointer;
}*/

.warpper-table td.hiddenRow {
    padding: 0px !important;
    border-top: 0px solid #eceeef !important;
}

.warpper-table td.hiddenRow .table {
    border-bottom: 0px solid #fff;
}

th.sorting_desc,
th.sorting_asc {}

.warpper-table .table th {
    font-size: 12px;
    /*    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    vertical-align: middle;
}

.warpper-table .table td {
    font-size: 12px;
    border-top: 1px solid #eceeef;
    /*    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.warpper-table .reactive-table-navigation {
    padding: 0px 15px;
}

.append-area {
    padding-right: 70px;
    position: relative;
}

.page-header {
}

.append-input {
    width: calc(100% - 45px);
    display: inline-block;
}

.append-btn {
    display: inline-block;
    position: relative;
    top: -1px;
    height: 34px;
}

.append-btn i {
    position: relative;
    top: 2px;
}

.btn-file-upload {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 30px;
}

.form-label-sm {
    height: 30px !important;
    padding: 0px 5px !important;
}

.btn-label {
    font-family: 'kanit';
}

/*modal fullscreen*/

.modal.fade {
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.modal.modal-fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100% !important;
    overflow: hidden;
    padding: 0px !important;
}

.modal-dialog-fullscreen {
    position: fixed;
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    padding: 0;
}

.modal-content-fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100% !important;
    border: 0px solid #604e76 !important;
    border-radius: 0;
    box-shadow: none;
}

.modal-header-fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 6px 15px !important;
    background-color: #604e76;
    border: 0;
    border-bottom: 0px solid #e5e5e5 !important;
}

.modal-header-fullscreen .row > div {
    padding: 0px;
}

.modal-title-fullscreen {
    font-size: 24px;
    color: #fff;
    /*line-height: 30px;*/
}

.modal-body-fullscreen {
    position: absolute;
    top: 50px;
    /*bottom: 55px;*/
    bottom: 0px;
    width: 100%;
    font-weight: 300;
    overflow: auto;
    padding: 10px;
    /*height: calc(100vh - 109px);*/
    height: calc(100vh - 50px);
}

.modal-body-remove-pad {
    padding: 0px !important;
}

.modal-footer-fullscreen {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px !important;
    background: #f1f3f5;
}

.fullscreen-modal .close {
    position: relative;
    top: 5px;
}

.fullscreen-modal .datatable_wrapper .table {
    margin: 0px !important;
}

.modal-body-fullscreen input,
.modal-body-fullscreen textarea,
.modal-body-fullscreen select,
.modal-body-fullscreen a {
    font-weight: normal;
}

.modal-body-fullscreen {
    background-color: #f3f5f9;
}

.modal-toolbar {
    background-color: #dddddd;
    padding: 10px !important;
    margin-bottom: 15px;
}

.modal-toolbar .form-group {
    width: 100%;
}

.modal-toolbar select {
    width: calc(100% - 120px) !important;
}

.modal-toolbar > div {
    text-align: right;
}

.modal-toolbar .form-group label {
    padding-right: 15px;
}

.modal-body-fullscreen .control-label {
    margin-top: 5px;
    font-weight: normal;
}

.modal-body-fullscreen .control-radiobox {
    padding-top: 9px;
    color: #606dbb;
}

.modal-body-fullscreen .control-checkbox {
    margin-top: 9px;
    font-weight: normal;
    line-height: 1.3;
}

.modal-body-fullscreen .control-checkbox span {
    top: 2px;
    position: relative;
}

.modal-body-fullscreen .main-tool-bar {
    background-color: #e8e8e8;
    padding: 10px 15px;
}

.modal-body-fullscreen .header-info-box {
    padding-bottom: 0;
    background-color: #fff;
    margin: 20px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .05);
}


/*.modal-body-fullscreen .title-header-info-box h4,
.modal-body-fullscreen .title-header-info-box .form-group {
    font-size: 18px;
    margin-bottom: 0px;
}*/

.modal-body-fullscreen .title-header-info-box {
    padding: 15px;
    border-bottom: 1px solid #f3f3f3;
}

.modal-body-fullscreen .header-info-content-box {
    /*padding: 15px 0px 0px 0px !important;*/
}


/*.modal-body-fullscreen .header-info-content-box dt {
    font-weight: initial;
    color: #55595c;
}*/

.modal-body-fullscreen .header-info-content-box dd {
    font-weight: initial;
}

.modal-body-fullscreen .table thead {
    background-color: #fff;
}

.md-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.fmd-sub-header {
    background-color: #604e76;
}

.fmd-sub-header h4 {
    color: #fff;
}

.fmd-warp-table {
    padding: 15px;
}

.fmd-warp-table .table {
    border: 1px solid #ddd;
}

.fmd-toolbar {
    background: #604e76;
}

.fmd-sub-footer {
    background-color: #fff;
}

.md-sub-header {
    background-color: #dff0d8;
}

.md-sub-header {
    background-color: #dff0d8;
}

.label-bold {
    font-weight: bold;
}

.md-sub-label {
    font-size: 14px;
}

.nav-tabs .nav-link.active {
    color: #55595c;
}


/*.table th {
    padding: 15px 10px !important;
    font-size: 14px;
}*/


/* main tool */

.title-header-tool-box {
    padding: 10px 15px;
    border-bottom: 1px solid #f3f3f3;
    background-color: #604e76;
}

.main-tool-bar {
    padding: 10px 15px;
    background-color: #fff !important;
}

.main-tool-bar.border-btm {
    border-bottom: 1px solid #f3f3f3;
}

.main-tool-bar input {
    position: relative;
    top: 1px;
}

.remove-pad {
    padding: 0 !important;
}


/* btn */

/*.btn-primary {
    color: #fff !important;
    background-color: #604e76 !important;
    border-color: #d07415 !important;
}*/


/*.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
    color: #fff !important;
    background-color: #d07415 !important;
    border-color: #604e76 !important;
}*/

.btn-label {
    margin-left: 5px;
}

.btn-close-md {
    float: right;
    position: absolute;
    top: 10px;
    right: 15px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #ed2324;
    border-color: #c31112;
}


/* form & label */

.form-control {
    /*height: 38px !important;*/
    border-radius: 0px !important;
}

textarea.form-control {
    height: initial !important;
}

.form-control.form-control-sm {
    height: 30px;
    font-size: 14px !important;
}

textarea.form-control.form-control-sm {
    height: initial !important;
}

select.form-control.form-control-sm {
    padding: 2px 4px;
}

.radio-label {
    position: relative;
    top: -5px;
    padding: 0px 10px;
    color: #000;
}

.input-desc-btn {
    width: calc(100% - 48px) !important;
    display: inline-block !important;
}

.form-group {
    margin-bottom: 0px;
}

.form-group .control-label {
    margin-bottom: 5px;
    /*padding-top: 7px;*/
    text-align: right;
}

.form-group .control-label1 {
    margin-bottom: 0;
    /*padding-top: 7px;*/
    text-align: left;
}

.control-showEx {
    text-align: left;
}

.dropdown-closeicon::after {
    content: initial !important;
}

.form-group .control-label-showEx {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
    font-size: 11px;
    color: #909090;
    font-weight: normal;
}

.form-group .control-label-showalert {
    margin-bottom: 0;
    text-align: right;
    font-size: 11px;
    color: red;
}

.form-group b {
    float: left;
    line-height: 35px;
    padding: 0px 3px;
    font-weight: normal;
}

.field-required {
    color: red;
}

.position-tag {
    float: right;
    position: relative;
    top: 7px;
}


/* menu */

.menu-title {
    font-weight: normal !important;
    margin-left: 5px;
}


/* table */

.table {
}

.table > tbody {
    /*border-bottom: 1px solid #ddd;*/
}

table.expandtable td {
    padding: 0.75rem;
    vertical-align: middle;
    font-size: 14px;
}

table.expandtable table {
    margin: 0px;
}

table.expandtable td input[type="checkbox"] {
    position: relative;
    top: 2px;
}


/*table.expandtable > thead > tr {
    border-top: 1px solid #eceeef;
}*/

table.expandtable th,
table.expandtable td {
    border-top: 0px solid #abb1b7;
}

table.expandtable tbody td {
    border-bottom: 0px solid #dddddd !important;
    /*padding: 5px 15px !important;*/
}

table.expandtable tbody td:last-child {
    text-align: right;
}

.table-chkoutwarehouse th:nth-child(4),
.table-chkoutwarehouse th:nth-child(5),
.table-chkoutwarehouse th:nth-child(6),
.table-chkoutwarehouse th:nth-child(7) {
    text-align: center;
}

.table-chkoutwarehouse td:nth-child(4),
.table-chkoutwarehouse td:nth-child(5),
.table-chkoutwarehouse td:nth-child(6),
.table-chkoutwarehouse td:nth-child(7) {
    text-align: center;
}


/*table.expandtable table thead tr {
    background-color: #9e9e9e;
    color: #fff;
}*/

table.expandtable table thead tr > th {
    padding: 10px 15px !important;
    font-weight: initial;
}

table.expandtable table thead tr > th:first-child {
    text-align: center;
}

table.expandtable table thead tr > th:last-child,
table.expandtable table thead tr > td:last-child {
    text-align: right;
}

table.expandtable table tbody tr:nth-child(even) {
    /*background-color: #e9e9e9;*/
}

table.expandtable table tbody tr:nth-child(odd) {
    /*background-color: #f8f8f8;*/
}

table.expandtable table tbody tr:last-child {
    border-bottom: 2px solid #604e76;
}

table.expandtable table tbody tr:nth-child(even) > td,
table.expandtable table tbody tr:nth-child(odd) > td {
    text-align: left;
    /*padding: 5px 15px !important;*/
}

table.expandtable table tbody tr:nth-child(even) > td:last-child,
table.expandtable table tbody tr:nth-child(odd) > td:last-child {
    text-align: right;
}

table tr.expandtable-non-ctrlbtn td:last-child {
    text-align: left;
}

table.expandtable input[type="checkbox"] {
    position: relative;
    top: 3px;
}

tr.expand-active {
    /*    background: #5a4871;
    color: #fff;*/
}

tr.expand-active:hover {
    /*background: #5a4871 !important;*/
}

.th-title {
    text-align: left !important;
    background-color: #ddd;
    color: #333;
    font-size: 14px;
    font-weight: bold !important;
}

.table-btn-block {
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

/*.dataTable th:last-child,
.dataTable td:last-child {
    text-align: right;
}*/

table.dataTable td {
    padding: 0.75rem;
    vertical-align: middle;
    font-size: 14px;
}

table.dataTable table {
    margin: 0px;
}

table.dataTable td input[type="checkbox"] {
    position: relative;
    top: 2px;
}

table.dataTable > thead > tr {
    border-top: 0px solid #eceeef;
}

table.dataTable th,
table.dataTable td {
    border-top: 0px solid #abb1b7;
}

table.dataTable tbody td {
    border-bottom: 0px solid #dddddd !important;
    /*padding: 5px 15px !important;*/
}

table.dataTable tbody td:last-child {
    /*text-align: right;*/
}

table.dataTable table thead tr {
    background-color: #604e76 !important;
    color: #fff;
}

table.dataTable table thead tr > th {
    padding: 10px !important;
    font-weight: initial;
}

table.dataTable table thead tr > th:last-child,
table.dataTable table thead tr > td:last-child {
    text-align: right;
}

table.dataTable table tbody tr:nth-child(even) {
    /*background-color: #e9e9e9;*/
}

table.dataTable table tbody tr:nth-child(odd) {
    /*background-color: #f8f8f8;*/
}

table.dataTable table tbody tr:last-child {
    border-bottom: 2px solid #604e76;
}

table.dataTable table tbody tr:nth-child(even) > td,
table.dataTable table tbody tr:nth-child(odd) > td {
    text-align: left;
    padding: 5px 15px !important;
}

table.dataTable table tbody tr:nth-child(even) > td:last-child,
table.dataTable table tbody tr:nth-child(odd) > td:last-child {
    text-align: right;
}

table tr.expandtable-non-ctrlbtn td:last-child {
    text-align: left;
}


/*header*/

.color-head {
    background-color: #d07415;
    color: #ffffff;
}

.system-title-1 {
    font-size: 16px;
    margin: 0px;
    line-height: 1;
}

.system-title-2 {
    font-size: 10px;
    margin: 0px;
    line-height: 1;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.margin-side {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.row.margin-side {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.tool-right {
    text-align: right;
    display: inline-block;
    float: right;
}

.tool-right select {
    position: relative;
    top: 1px;
}

.tool-right.add-margin-border {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 15px;
}

.tool-left {
    text-align: left;
}

.tool-left select {
    display: inline-block;
}

.tool-left label {
    margin-bottom: 0px;
}

.col-title {
    padding: 0px !important;
}

.col-title.title-tool {
    margin-top: 5px;
}

.col-title-tool {
    padding: 3px 0px !important;
}

.col-title-tool div:last-child {
    padding-right: 0px;
}

.col-title-tool label {
    margin-top: 3px;
    text-align: right;
    font-weight: initial;
    margin-bottom: 0px;
}

.col-dmy {
    width: 33.33% !important;
    padding-right: 10px !important;
}

.col-dmy:last-child {
    padding-right: 0px !important;
}

.col-xs-label {
    width: 100%;
    text-align: left !important;
}

.content-input-area:first-child,
.content-input-area:last-child {
    padding: 15px;
}

.content-input-area {
    padding: 0px 15px 0px 15px;
}

.content-input-area.row > div {
    padding: 0px;
}

.content-input-area .row {
    margin-bottom: 8px;
}

.modal-title-label label {
    margin-top: 6px;
}

.modal-title-label > div:last-child {
    padding-right: 0px;
}

.modal-rem-pad {
    padding: 0px !important;
}

.rem-pad {
    padding: 0px !important;
}

.rem-margin {
    margin: 0px !important;
}

.from-chkbox {
    display: block;
    padding-top: 4px;
}

.content-input-area .form-group {
    padding-right: 15px;
}


/* chkbox */

input[type="checkbox"],
input[type="radio"] {
    width: 20px;
    height: 20px;
}


/* upload */

.img-upload {
    width: 100%;
    height: 150px;
    border: dashed 1px #ddd;
    border-bottom: 0px;
    background-color: #fff;
}


/* lib */

hr {
    margin-top: 10px !important;
    margin-bottom: 0rem !important;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


/*ahead* Create By toon*/

.typeahead,
.tt-query,
.tt-hint {
    width: 200px;
    /*padding: 8px 12px;*/
    /*line-height: 30px;*/
    /*border: 1px solid #ccc;*/
    border-radius: 0px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 1px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 200px;
    margin: 10px 0 0;
    padding: 8px 0;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}


/* table management */

.td-available:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

dt.md-sub-label {
    color: #666;
    font-weight: bold !important;
}

dd.md-sub-label {
    color: #333;
}

.th-mt-row {
    padding: 10px !important;
}

.th-timesh {
    text-align: center;
    border-left: 1px solid #ddd;
}

.td-timesh:last-child {
    border-right: 1px solid #ddd;
}

.th-timesh-select,
.td-timesh-select {
    border-left: 1px solid #ddd;
    background-color: #dff0d8;
}

.th-timesh-select:last-child,
.td-timesh-select:last-child {
    border-right: 1px solid #ddd;
}

.th-timesh-select:hover {
    cursor: pointer;
    background-color: #5cb85c !important;
    color: #fff;
}

.td-timesh-select:hover {
    cursor: pointer;
    background-color: #5cb85c !important;
    color: #fff;
}

a.nav-link {
    border-radius: 0px !important;
}

.nav-tabs .nav-item + .nav-item {
    margin-left: 0px;
}

th.center,
td.center {
    text-align: center;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.table-outer {
    position: relative;
}

.table-inner {
    overflow-x: scroll;
    overflow-y: visible;
    width: calc(100% - 200px);
    margin-left: 200px;
}

.radio-input .input-group-addon {
    padding: 0px 5px !important;
}

.radio-input .input-group-addon input {
    margin-top: 4px !important;
    margin-right: 4px !important;
}

.radio-input .input-group-addon span {
    position: relative !important;
    top: -4px !important;
}


/* nprogress */

#nprogress .bar {
    background: #604e76;
    z-index: 100000;
}

.textoverflow {
  width: 100px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

/* start search select option*/

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
width:300px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
#adv-search {
    width: 100%;
    margin: 0 auto;
}
.dropdown.dropdown-lg {
  width:100%;
    position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
    min-width: 100%;
}
}

/* end search select option*/
