@media(max-width:768px) {
    .navbar-content.nav-content-collapse {
        margin-left: 0px !important;
    }
    .navbar-brand {
        background-color: #372348 !important;
    }
    .system-title {
        display: none;
    }
    .username {
        display: none;
    }
    #footer {
        display: none;
    }
}

@media(min-width:768px) {
    #dropdown-user>.dropdown-toggle img {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px)
    }
    #navbar {
        background-color: transparent
    }
    .navbar-header {
        float: left;
        background-color: transparent
    }
    .navbar-header:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 40px;
        /*background-color: #263238*/
    }
    #container.mainnav-out .navbar-header:before {
        width: 0
    }
    #container.mainnav-in .navbar-header:before {
        width: 100%
    }
    #navbar-container {
        background-color: #fff
    }
    .navbar-content {
        margin-left: 220px;
    }
    .navbar-middle {
        position: static
    }
    .navbar-top-links .tgl-menu-btn {
        position: static
    }
    /*    .navbar-top-links .tgl-menu-btn>a,
    .navbar-top-links .tgl-menu-btn>a:hover {
        color: #758697
    }*/
    .navbar-top-links .tgl-menu-btn>a:focus {
        background-color: transparent;
        color: #758697
    }
}

@media(min-width:768px) {
    #container.mainnav-fixed #mainnav-menu-wrap {
        height: 100%
    }
    #container.mainnav-sm #mainnav .menu-popover .nano>.nano-content {
        top: auto;
        max-height: 100%;
        position: absolute
    }
    #container.mainnav-sm #mainnav .menu-popover .nano-content {
        position: static
    }
}

@media(min-width:768px) and (max-width:991px) {
    #container.mainnav-lg #content-container,
    #container.mainnav-lg #footer {
        left: 220px
    }
    #container.mainnav-lg .tgl-menu-btn {
        right: 220px
    }
    #container.mainnav-lg #mainnav-container {
        left: 0
    }
    #container.mainnav-lg #mainnav-menu-wrap {
        height: 100%
    }
}

@media(min-width:768px) {
    #mainnav-menu .list-header,
    #mainnav-menu .list-divider,
    #mainnav-menu .menu-title,
    #mainnav-menu .arrow,
    #mainnav-menu .menu-title>.label,
    #mainnav-menu .menu-title>.badge {
        opacity: 1
    }
    .mainnav-sm #mainnav-menu .list-header,
    .mainnav-sm #mainnav-menu .list-divider,
    .mainnav-sm #mainnav-menu .menu-title,
    .mainnav-sm #mainnav-menu .arrow,
    .mainnav-sm #mainnav-menu .menu-title>.label,
    .mainnav-sm #mainnav-menu .menu-title>.badge {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        height: 0;
        opacity: 0
    }
    #container.mainnav-sm .brand-icon {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        transform: translateY(0)
    }
    #container.mainnav-sm .shortcut-grid:hover {
        box-shadow: inset 2px 0 0 0 #0c80df
    }
    #container.mainnav-sm .shortcut-grid:hover,
    #container.mainnav-sm .popover.mainnav-shortcut {
        background-color: #2c3a41;
        color: #fff
    }
    #container.mainnav-sm #mainnav-menu a {
        white-space: nowrap;
        position: relative;
        padding: 12px 0 12px 18.5px
    }
    #container.mainnav-sm #mainnav-menu a:hover {
        box-shadow: inset 2px 0 0 0 #0c80df
    }
    #container.mainnav-sm #mainnav-menu a .badge {
        margin-top: -1.5em
    }
    #container.mainnav-sm #mainnav-menu a .badge {
        position: absolute;
        padding: 3px 7px;
        right: 2px;
        top: 25%
    }
    #container.mainnav-sm #mainnav-menu a i {
        display: inline
    }
    #container.mainnav-sm #mainnav-menu .active-link>a,
    #container.mainnav-sm #mainnav-menu .active-sub>a {
        color: #fff
    }
    #container.mainnav-sm #mainnav-menu .collapse {
        display: none;
        height: 0!important
    }
    #container.mainnav-sm #navbar .navbar-content {
        margin-left: 50px
    }
    #container.mainnav-sm #content-container,
    #container.mainnav-sm #footer {
        padding-left: 50px;
        left: 0
    }
    #container.mainnav-sm #mainnav {
        position: relative
    }
    #container.mainnav-sm #mainnav .mainnav-widget>.show-small a {
        display: block;
        color: #abb1b7;
        padding: 12px 0 12px 18.5px
    }
    #container.mainnav-sm #mainnav .mainnav-widget>.show-small a:hover {
        color: #fff;
        box-shadow: inset 2px 0 0 0 #0c80df;
        transition: background-color .2s, padding-left .3s, box-shadow .4s
    }
    #container.mainnav-sm #mainnav .mainnav-widget>.hide-small {
        display: none
    }
    #container.mainnav-sm #mainnav .mainnav-widget .hover {
        color: #fff;
        background-color: #2c3a41
    }
    .top-auto {
        top: auto!important
    }
    #mainnav .menu-popover .nano>.nano-content {
        position: absolute
    }
    #mainnav-menu ul ul a:hover,
    .menu-popover .sub-menu ul ul a:hover {
        background-color: rgba(0, 0, 0, 0.0005)
    }
    .menu-popover {
        left: 50px!important
    }
    .menu-popover .sub-menu {
        overflow: hidden
    }
    .menu-popover .sub-menu .pop-in {
        display: block;
        visibility: visible
    }
    .menu-popover .sub-menu ul {
        background-color: #202a2f
    }
    .menu-popover .sub-menu ul ul {
        background-color: #1c2429
    }
    .menu-popover .sub-menu ul ul>li>a {
        padding-left: 27px
    }
    .menu-popover .sub-menu ul ul>li>a:hover {
        color: #fff
    }
    .menu-popover .sub-menu ul a:hover {
        color: #fff
    }
    .menu-popover .sub-menu ul li>a {
        display: block;
        color: #abb1b7;
        padding: 12px 17px
    }
    .menu-popover .single-content {
        color: #fff;
        background-color: #2c3a41
    }
    .menu-popover.popover {
        width: 220px;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: #222d32;
        color: #fff;
        position: absolute;
        box-shadow: none;
        margin-left: 0
    }
    .menu-popover.popover.in {
        -webkit-animation: fadeIn .3s;
        animation: fadeIn .3s
    }
    .menu-popover>.popover-title {
        border: 0;
        border-radius: 0;
        padding: 14px 20px;
        background-color: #2c3a41;
        font-size: 1.05em;
        font-weight: 600;
        position: relative;
        z-index: 5;
        color: #fff
    }
    .menu-popover>.popover-title strong {
        font-weight: 300
    }
    .menu-popover>.popover-content {
        padding: 0;
        width: 100%;
        position: absolute;
        border-radius: 0
    }
    .menu-popover>.popover-content>.single-content {
        padding: 12px 14px;
        display: block;
        white-space: nowrap
    }
    .menu-popover>.popover-content>.single-content strong {
        font-weight: 300
    }
    .menu-popover>.popover-content>.single-content .label,
    .menu-popover>.popover-content>.single-content .badge {
        margin-left: 10px;
        float: none!important
    }
    .menu-popover ul {
        width: 220px;
        margin-bottom: 0
    }
    .menu-popover .mainnav-widget-content {
        background-color: #2c3a41
    }
    .menu-popover .mainnav-widget-content>.list-group {
        display: block;
        width: auto
    }
}

@media(min-width:768px) {
    #content-container {
        padding-top: 40px
    }
    #page-title {
        /*        display: table;
        table-layout: fixed;
        padding-bottom: 0*/
    }
    .page-header,
    .searchbox {
        display: table-cell;
        vertical-align: middle
    }
    .searchbox {
        width: 300px
    }
    .searchbox .form-control {
        background-color: transparent
    }
}

@media(min-width:768px) {
    #container.reveal #content-container {
        min-height: 100vh
    }
    #container.mainnav-out.reveal #content-container,
    #container.mainnav-in.reveal #content-container {
        z-index: 7
    }
    #container.mainnav-in.reveal.aside-in #aside-container {
        right: -220px
    }
    #container.mainnav-in.reveal.aside-in #footer {
        left: 220px
    }
    #container.mainnav-out.reveal #aside-container,
    #container.mainnav-in.reveal #aside-container {
        z-index: 9
    }
    #container.mainnav-out.reveal.aside-left:not(.aside-in) #aside-container,
    #container.mainnav-in.reveal.aside-left:not(.aside-in) #aside-container {
        left: -220px
    }
    #container.mainnav-out.reveal #footer,
    #container.mainnav-in.reveal #footer {
        z-index: 8
    }
    #container.mainnav-out.reveal #mainnav-container {
        left: -220px
    }
    #container.mainnav-in.reveal.slide .navbar-header:before,
    #container.mainnav-out.reveal.slide .navbar-header:before,
    #container.mainnav-out.reveal:not(.slide) #mainnav-container,
    #container.mainnav-in.reveal:not(.slide) #mainnav-container {
        left: 0;
        -webkit-transition-duration: 0;
        transition-duration: 0
    }
}

@media(min-width:992px) {
    #container.mainnav-lg #mainnav-container {
        left: 0
    }
    #container.mainnav-lg #footer,
    #container.mainnav-lg #content-container {
        padding-left: 220px
    }
}

@media(min-width:1200px) {
    .effect #navbar,
    .effect #content-container,
    .effect #mainnav-container,
    .effect #aside-container,
    .effect #footer,
    .effect .navbar-brand,
    .effect .navbar-content,
    .effect .navbar-header:before {
        transition-property: width, padding, left, right;
        transition-duration: .35s
    }
    .effect .navbar-content {
        transition-property: margin-left
    }
    .effect .mainnav-profile {
        transition: opacity .85s, max-height .35s
    }
    .effect #mainnav-shortcut {
        transition: max-height .7s
    }
    .effect #mainnav-shortcut li {
        transition: all .7s ease .1s
    }
    .effect#container.mainnav-sm #mainnav-shortcut {
        transition: max-height .7s linear .2s
    }
    .effect#container.mainnav-sm #mainnav-shortcut>ul>li {
        transition: all .5s ease
    }
    .mainnav-sm .effect #mainnav-menu .list-header,
    .mainnav-sm .effect #mainnav-menu .list-divider,
    .mainnav-sm .effect #mainnav-menu .menu-title,
    .mainnav-sm .effect #mainnav-menu .arrow,
    .mainnav-sm .effect #mainnav-menu .menu-title>.label {
        transition: opacity .5s, padding .5s linear .5s, color .1s, margin .5s linear .5s;
        transition-timing-function: cubic-bezier(0.28, 1.02, 0.36, 1.145)
    }
    .effect .collapsing {
        transition-duration: .4s
    }
    .easeInQuart #navbar,
    .easeInQuart #content-container,
    .easeInQuart #mainnav-container,
    .easeInQuart #aside-container,
    .easeInQuart #footer,
    .easeInQuart .collapsing,
    .easeInQuart .navbar-brand,
    .easeInQuart .navbar-content,
    .easeInQuart .navbar-header:before {
        transition-duration: .35s;
        transition-timing-function: cubic-bezier(0.755, 0.045, 0.915, 0.135)
    }
    .easeOutQuart #navbar,
    .easeOutQuart #content-container,
    .easeOutQuart #mainnav-container,
    .easeOutQuart #aside-container,
    .easeOutQuart #footer,
    .easeOutQuart .collapsing,
    .easeOutQuart .navbar-brand,
    .easeOutQuart .navbar-content,
    .easeOutQuart .navbar-header:before {
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0.015, 0.77, 0.04, 0.985)
    }
    .easeInBack #navbar,
    .easeInBack #content-container,
    .easeInBack #mainnav-container,
    .easeInBack #aside-container,
    .easeInBack #footer,
    .easeInBack .collapsing,
    .easeInBack .navbar-brand,
    .easeInBack .navbar-content,
    .easeInBack .navbar-header:before {
        transition-duration: .35s;
        transition-timing-function: cubic-bezier(0.705, -0.155, 0.735, 0.045)
    }
    .easeOutBack #navbar,
    .easeOutBack #content-container,
    .easeOutBack #mainnav-container,
    .easeOutBack #aside-container,
    .easeOutBack #footer,
    .easeOutBack .collapsing,
    .easeOutBack .navbar-brand,
    .easeOutBack .navbar-content,
    .easeOutBack .navbar-header:before {
        transition-duration: .35s;
        transition-timing-function: cubic-bezier(0.28, 1.02, 0.36, 1.145)
    }
    .easeInOutBack #navbar,
    .easeInOutBack #content-container,
    .easeInOutBack #mainnav-container,
    .easeInOutBack #aside-container,
    .easeInOutBack #footer,
    .easeInOutBack .collapsing,
    .easeInOutBack .navbar-brand,
    .easeInOutBack .navbar-content,
    .easeInOutBack .navbar-header:before {
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(1, -0.28, 0, 1.275)
    }
    .steps #navbar,
    .steps #content-container,
    .steps #mainnav-container,
    .steps #aside-container,
    .steps #footer,
    .steps .collapsing,
    .steps .navbar-brand,
    .steps .navbar-content,
    .steps .navbar-header:before {
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 0.955, 1, 0.045)
    }
    .jumping #navbar,
    .jumping #content-container,
    .jumping #mainnav-container,
    .jumping #aside-container,
    .jumping #footer,
    .jumping .collapsing,
    .jumping .navbar-brand,
    .jumping .navbar-content,
    .jumping .navbar-header:before {
        transition-duration: .7s;
        transition-timing-function: cubic-bezier(0.135, 1.525, 0, 0.9)
    }
    .rubber #navbar,
    .rubber #content-container,
    .rubber #mainnav-container,
    .rubber #aside-container,
    .rubber #footer,
    .rubber .collapsing,
    .rubber .navbar-brand,
    .rubber .navbar-content,
    .rubber .navbar-header:before {
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1.65, 1, -0.6)
    }
}

@media(min-width:768px) {
    #container.mainnav-in.easeInBack:not(.boxed-layout) #mainnav-container {
        box-shadow: -20px 0 0 0 #263238
    }
    #container.mainnav-in #navbar,
    #container.mainnav-in .navbar-header {
        left: 0
    }
    #container.mainnav-in .tgl-menu-btn {
        right: 0
    }
    #container.mainnav-in.aside-in #aside-container {
        right: -220px
    }
    #container.mainnav-out .brand-title {
        background-color: transparent;
        color: #758697
    }
}

@media(max-width:575px) {
    dt.info-box-label {
        margin-bottom: 15px;
    }
    dd.info-box-label {
        padding: 0px;
    }
}
