/* body */

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'kanit';
}

select,
input {
    font-size: 14px !important;
}

.vis-item.green {
    background-color: greenyellow;
    border-color: green;
}

.dropdown-user.dropdown-menu-right {
    right: 3px;
    left: auto;
}

.dropdown-menu-pad {
    padding: 5px 10px;
}

.dropdown-logout-pad {
    padding: 0px 10px;
}




/* login */

#loginForm .form-group:first-child {
    margin-bottom: 0px;
}

#loginForm input {
    border: 1px solid #c8cacb;
}

#loginForm .form-group:nth-child(1) input {
    border-top-right-radius: 4px !important;
}

#loginForm .form-group:nth-child(2) input {
    border-bottom-right-radius: 4px !important;
}

#loginForm .form-group:nth-child(1) span {
    border-bottom-left-radius: 0px !important;
}

#loginForm .form-group:nth-child(2) span {
    border-top-left-radius: 0px !important;
}




/* nav bar top */

#navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    left: 0;
    top: 0;
}

.navbar-header {
    background-color: #ed2829;
}

#navbar p,
#navbar a {
    color: #333;
}

.brand-text {
    color: #fff;
}

.nav-menu-link.active {
    background-color: rgba(255, 255, 255, .1);
}




/* nav bar side */


/* page header */

.filter-toolbar {
    position: absolute;
    right: 15px;
    top: 13px;
}

.toolbar-left {
    float: left;
}

.filter-toolbar label {
    font-size: 14px;
    margin: 0px 10px;
    position: relative;
    top: 1px;
    margin-bottom: 0px;
}

.page-title {
    width: 100%;
    color: #666;
    padding: 15px;
    background-color: #e8e8e8;
    position: relative;
}

.page-title .form-inline {
    display: inline-block;
}

.page-title-sheet {
    background-color: #604e76;
    color: #fff;
}

.title-right {
    float: right;
    top: -1px;
    position: relative;
}

.title-select-version {
    width: 80px !important;
    display: inline-block !important;
}




/* content */

.content-area {
    position: relative;
}

.warpper-area {
    width: 100%;
    padding: 15px;
}

.warpper-content-box {
    padding: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);*/
}

.warpper-table {
    background-color: #fff;
    margin-bottom: 15px;
    overflow: auto;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);*/
}

.warpper-table.warpper-data-table {
    overflow: hidden;
}

.table-filter-toolbar {
    padding: 10px 15px;
    text-align: right;
    background-color: #fff;
    margin-bottom: 15px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);*/
    border-bottom: 1px solid #f3f5f9;
}

.table-filter-toolbar .form-inline {
    display: inline-block;
}

.table-filter-toolbar label {
    font-size: 14px;
    margin: 0px 10px;
    position: relative;
    top: 1px;
    margin-bottom: 0px;
}

.table.expandtable tr:last-child {
    border-bottom: 0px solid #ddd !important;
}

.sub-product-table {
    background-color: #ddd;
}

.sub-product-table th {
    text-align: left !important;
}

.table-sub-tr {
    background-color: #f3f5f9;
}

.table-sub-tr th {
    color: #333;
}

.table-tr-product-name:hover {
    background-color: transparent !important;
}

.table-product-name {
    text-align: left !important;
    color: #fff !important;
    border-top: 0px solid #000 !important;
    text-decoration: underline !important;
    font-size: 16px !important;
}

.table-tr-product-name .table-product-name {
    padding-top: 15px !important;
}

.content-container {
    height: calc(100vh - 25px);
    margin-left: 220px;
    overflow-y: auto;
    padding-top: 40px;
    background-color: #f3f3f3;
}

.content-container.nav-content-collapse {
    margin-left: 44px;
}

.header-info-box {
    padding-bottom: 0;
    background-color: #fff;
    margin: 20px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 20px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);*/
}

.title-header-info-box h4 {
    font-size: 16px;
    margin-bottom: 0px;
}

.btn-area-title-infobox {
    position: absolute;
    right: 15px;
    top: 9px;
}

.add-pad {
    padding: 10px 15px !important;
}

.add-pad-15 {
    padding: 15px !important;
}

dt.info-box-label {
    color: #888;
    font-family: 'kanit';
    font-size: 14px;
    padding-left: 0px;
    top: 5px;
    font-weight: initial;
}

dd.info-box-label {
    color: #333;
    font-family: 'kanit';
    font-size: 14px;
    font-weight: initial;
}

dd.info-box-label>label.label-form {
    position: relative;
    top: 5px;
}

dd .custom-control.custom-checkbox {
    position: relative;
    top: 5px;
    font-size: 15px;
}

dd .custom-control.custom-checkbox .custom-control-indicator {
    top: 3px;
}

.modal-header-fullscreen .close {
    position: relative;
    top: -3px !important;
    font-size: 39px !important;
    font-weight: initial !important;
    opacity: 1 !important;
    color: #fff !important;
    text-shadow: initial !important;
}

.modal-label {
    font-size: 14px;
    margin-top: 5px;
}

.info-box-multi-input>div {
    padding-left: 0px;
}

.info-box-multi-input>div:last-child {
    padding-right: 0px;
}

.title-header-info-box {
    padding: 10px 15px;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
}

.title-header-info-box .icon-collapse {
    position: absolute;
    top: 11px;
    right: 15px;
    color: #604e76;
}

.header-info-content-box {
    padding: 15px 0px 10px;
}

.header-info-content-box .row {
    margin-bottom: 5px;
}

.content-box-padding {
    padding: 15px;
}

.content-box-border dt {
    position: relative;
    top: 5px;
}

.box-input-label {
    position: relative;
    top: 6px;
}

.unit-label {
    position: relative;
    top: 5px;
    font-size: 13px;
}

.title-label {
    font-size: 14px;
}

.content-box-border {
    padding: 15px 15px 0px;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    margin-bottom: 15px !important;
    position: relative;
}

.content-box-border:last-child {
    margin-bottom: 0px !important;
}

.content-box-border-title {
    position: absolute;
    top: -13px;
    left: 10px;
    font-size: 14px;
    background-color: #fff;
    padding: 0px 10px;
    color: #d3d3d3;
}

.tab-content .block-area h4 {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
}

.nav-tabs .nav-link {
    color: #666;
    font-size: 14px;
    text-align: left;
}

.box-header-input {
    padding: 0px;
    margin-bottom: 15px;
    background-color: #fff;
}

.box-header-input label {
    font-size: 14px;
    text-align: left;
    /*width: 100%;*/
}




/* table */

.table-overview {}

.table-overview>thead {
    background-color: #ED2324;
}

.accordian-body thead {
    border-top: 1px solid #eceeef;
}

.accordian-body.collapse thead tr:first-child {
    background-color: #eceeef;
}

.accordian-body.collapse.in {
    background-color: rgb(96, 78, 118);
}

.accordian-body.collapse.in thead {
    border-top: 0px solid #eceeef;
}

.accordian-body.collapse.in thead tr {
    background-color: rgb(96, 78, 118);
    color: #fff;
}

.accordian-body.collapse.in {
    padding: 0px 15px 15px;
    -webkit-transition: padding 0.1s ease-out 0.1s;
    -moz-transition: padding 0.1s ease-out 0.1s;
    -o-transition: padding 0.1s ease-out 0.1s;
    transition: padding 0.1s ease-out 0.1s;
}

.accordian-body.collapse.in.collapse-pad-15 {
    padding: 15px;
    -webkit-transition: padding 0.1s ease-out 0.1s;
    -moz-transition: padding 0.1s ease-out 0.1s;
    -o-transition: padding 0.1s ease-out 0.1s;
    transition: padding 0.1s ease-out 0.1s;
}

.table-overview>thead th {
    color: #fff;
    font-weight: initial;
}

.table-overview thead th {
    font-size: 14px;
    vertical-align: middle;
}

.table-overview>thead th:first-child,
.table-overview>tbody td:first-child {
    text-align: center;
}

.table-overview>tbody th,
.table-overview>tbody td {
    padding: 10px 15px;
}

.table-overview thead th i {
    position: relative;
    top: 1px;
}

table.dataTable {
  border-collapse: collapse !important;
}

.table.dataTable thead {
    background-color: #ED2324 !important;
}

.table.dataTable>thead th {
    color: #fff;
    font-weight: initial;
}

.table.dataTable thead th {
    font-size: 12px;
    vertical-align: middle;
}

.table.dataTable>tbody th,
.table.dataTable>tbody td {
    padding: 10px 15px;
}

.table.dataTable thead th i {
    position: relative;
    top: 1px;
}



/*.table.dataTable td {
    padding: 5px 15px !important;
}*/

.table.dataTable {
    margin: 0px !important;
}

.table.dataTable tbody tr {
    border-bottom: 1px solid #f3f3f3;
}

.table-price th,
.table-price td {
    text-align: right !important;
}

.table-price th:first-child,
.table-price td:first-child {
    text-align: center !important;
}

.sorting_desc::before,
.sorting_desc::after,
.sorting_asc::before,
.sorting_asc::after,
.sorting::before,
.sorting::after {
    position: relative;
    top: 10px;
}

.table-tr-event tbody tr {
    cursor: pointer;
}




/* responsive */

@media(max-width:768px) {
    /* header */
    .filter-toolbar {
        position: relative;
        right: initial;
        top: initial;
    }
    .filter-toolbar label {
        font-size: 14px;
        margin: 5px 0px;
        position: relative;
        top: 0px;
        margin-bottom: 0px;
    }
    .page-title .form-inline {
        display: block;
    }
    /* content */
    .content-container {
        margin-left: 220px;
        padding-top: 40px;
    }
    .content-container {
        height: 100vh;
    }
}




/* btn */

.btn-outline-gears {
    color: #d07415;
    background-image: none;
    background-color: transparent;
    border-color: #d07415 !important;
}

.btn-outline-gears:hover {
    color: #fff;
    background-color: #d07415;
    border-color: #d07415;
}

.btn-outline-gears:active:hover,
.btn-outline-gears:active:focus,
.btn-outline-gears:active.focus,
.btn-outline-gears.active:hover,
.btn-outline-gears.active:focus,
.btn-outline-gears.active.focus,
.open>.btn-outline-gears.dropdown-toggle:hover,
.open>.btn-outline-gears.dropdown-toggle:focus,
.open>.btn-outline-gears.dropdown-toggle.focus {
    color: #fff;
    background-color: #d07415;
    border-color: #d07415;
}




/* date picker */

.daterangepicker {
    width: auto !important;
    /*right: 14px !important;
    left: initial !important;*/
    border-radius: 0px !important;
    padding: 5px !important;
}

.daterangepicker input {
    border-radius: 0px !important;
}

.daterangepicker .calendar-table {
    border: 0px solid #ddd;
    border-radius: 0px !important;
}

.daterangepicker td,
.daterangepicker th {
    font-size: 14px;
    font-family: 'kanit';
    width: 30px;
    height: 30px;
    border-radius: 2px !important;
}

.daterangepicker.opensright:before {
    display: none;
}

.daterangepicker.opensright:after {
    display: none;
}

.datepicker table tr td,
.datepicker table tr th {
    font-size: 14px;
    font-family: 'kanit';
    width: 30px;
    height: 30px;
    border-radius: 2px !important;
}




/* loading page */

.loadingGears {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

.loadingGears+.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.loadingGears.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    transition: all 0s !important;
}

.loadingGears:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.loadingGears>.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    color: #FFFFFF;
    padding: 0 100px;
    text-align: center;
}

.cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display: inline-block;
    color: #FFFFFF;
}

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}

.ajax-spinner-bars {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 50%;
}

.ajax-spinner-bars>div {
    position: absolute;
    width: 2px;
    height: 8px;
    background-color: #FFF;
    opacity: 0.05;
    animation: fadeit 0.8s linear infinite;
}

.ajax-spinner-bars>.bar-1 {
    transform: rotate(0deg) translate(0, -12px);
    animation-delay: 0.05s;
}

.ajax-spinner-bars>.bar-2 {
    transform: rotate(22.5deg) translate(0, -12px);
    animation-delay: 0.1s;
}

.ajax-spinner-bars>.bar-3 {
    transform: rotate(45deg) translate(0, -12px);
    animation-delay: 0.15s;
}

.ajax-spinner-bars>.bar-4 {
    transform: rotate(67.5deg) translate(0, -12px);
    animation-delay: 0.2s;
}

.ajax-spinner-bars>.bar-5 {
    transform: rotate(90deg) translate(0, -12px);
    animation-delay: 0.25s;
}

.ajax-spinner-bars>.bar-6 {
    transform: rotate(112.5deg) translate(0, -12px);
    animation-delay: 0.3s;
}

.ajax-spinner-bars>.bar-7 {
    transform: rotate(135deg) translate(0, -12px);
    animation-delay: 0.35s;
}

.ajax-spinner-bars>.bar-8 {
    transform: rotate(157.5deg) translate(0, -12px);
    animation-delay: 0.4s;
}

.ajax-spinner-bars>.bar-9 {
    transform: rotate(180deg) translate(0, -12px);
    animation-delay: 0.45s;
}

.ajax-spinner-bars>.bar-10 {
    transform: rotate(202.5deg) translate(0, -12px);
    animation-delay: 0.5s;
}

.ajax-spinner-bars>.bar-11 {
    transform: rotate(225deg) translate(0, -12px);
    animation-delay: 0.55s;
}

.ajax-spinner-bars>.bar-12 {
    transform: rotate(247.5deg) translate(0, -12px);
    animation-delay: 0.6s;
}

.ajax-spinner-bars>.bar-13 {
    transform: rotate(270deg) translate(0, -12px);
    animation-delay: 0.65s;
}

.ajax-spinner-bars>.bar-14 {
    transform: rotate(292.5deg) translate(0, -12px);
    animation-delay: 0.7s;
}

.ajax-spinner-bars>.bar-15 {
    transform: rotate(315deg) translate(0, -12px);
    animation-delay: 0.75s;
}

.ajax-spinner-bars>.bar-16 {
    transform: rotate(337.5deg) translate(0, -12px);
    animation-delay: 0.8s;
}

@keyframes fadeit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#circularG {
    position: relative;
    width: 100px;
    height: 100px
}

.circularG {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 15px;
    height: 15px;
    -moz-border-radius: 19px;
    -moz-animation-name: bounce_circularG;
    -moz-animation-duration: 1.28s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -webkit-border-radius: 19px;
    -webkit-animation-name: bounce_circularG;
    -webkit-animation-duration: 1.28s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -ms-border-radius: 19px;
    -ms-animation-name: bounce_circularG;
    -ms-animation-duration: 1.28s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: normal;
    -o-border-radius: 19px;
    -o-animation-name: bounce_circularG;
    -o-animation-duration: 1.28s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: normal;
    border-radius: 19px;
    animation-name: bounce_circularG;
    animation-duration: 1.28s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#circularG_1 {
    left: 0;
    top: 50px;
    -moz-animation-delay: 0.48s;
    -webkit-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    animation-delay: 0.48s;
}

#circularG_2 {
    left: 14px;
    top: 14px;
    -moz-animation-delay: 0.64s;
    -webkit-animation-delay: 0.64s;
    -ms-animation-delay: 0.64s;
    -o-animation-delay: 0.64s;
    animation-delay: 0.64s;
}

#circularG_3 {
    top: 0;
    left: 50px;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

#circularG_4 {
    right: 14px;
    top: 14px;
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
}

#circularG_5 {
    right: 0;
    top: 50px;
    -moz-animation-delay: 1.12s;
    -webkit-animation-delay: 1.12s;
    -ms-animation-delay: 1.12s;
    -o-animation-delay: 1.12s;
    animation-delay: 1.12s;
}

#circularG_6 {
    right: 14px;
    bottom: 14px;
    -moz-animation-delay: 1.28s;
    -webkit-animation-delay: 1.28s;
    -ms-animation-delay: 1.28s;
    -o-animation-delay: 1.28s;
    animation-delay: 1.28s;
}

#circularG_7 {
    left: 50px;
    bottom: 0;
    -moz-animation-delay: 1.44s;
    -webkit-animation-delay: 1.44s;
    -ms-animation-delay: 1.44s;
    -o-animation-delay: 1.44s;
    animation-delay: 1.44s;
}

#circularG_8 {
    left: 14px;
    bottom: 14px;
    -moz-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

@-moz-keyframes bounce_circularG {
    0% {
        -moz-transform: scale(1)
    }
    100% {
        -moz-transform: scale(.3)
    }
}

@-webkit-keyframes bounce_circularG {
    0% {
        -webkit-transform: scale(1)
    }
    100% {
        -webkit-transform: scale(.3)
    }
}

@-ms-keyframes bounce_circularG {
    0% {
        -ms-transform: scale(1)
    }
    100% {
        -ms-transform: scale(.3)
    }
}

@-o-keyframes bounce_circularG {
    0% {
        -o-transform: scale(1)
    }
    100% {
        -o-transform: scale(.3)
    }
}

@keyframes bounce_circularG {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(.3)
    }
}




/* End loading page */

.home-bg {
    background-image: url(image/scg/White-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.quick-menu-warpper {
    text-align: center;
    padding: 20px !important;
}

.quick-menu-warpper i {
    font-size: 60px;
}

.quick-menu-box {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.quick-menu-btn-warpper {
    text-align: right;
    padding: 0px;
}

.quick-menu-warpper h4 {
    text-align: left;
    color: #ee2524;
}

.quick-menu-warpper p {
    text-align: left;
    color: #666;
}

.quick-menu-box-desc {
    padding: 15px;
}

.quick-menu-box-icon {
    padding: 50px 20px;
    background-color: #1e1b21;
}



/* work space */

.warpper-sto-tra {
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.warpper-sto-tra .sto-padding {
    padding: 0px 10px 0px 0px;
    margin-bottom: 10px;
}

.warpper-sto-tra .sto-tra-tools {
    background-color: #fdfdfd;
    /*border: solid 1px #d4d4d4;*/
    border-radius: 4px;
    /*margin-bottom: 5px;*/
    min-height: 210px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.1);
}

.warpper-sto-tra .sto-tra-tools-two {
    height: 375px !important;
}

.warpper-sto-tra .sto-tra-tools-two .btn-sto-tra {
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(253, 48, 48, 0.932);
    border: solid 1.5px rgba(253, 48, 48, 0.932);
    border-radius: 5px;
    background-color: transparent;
    margin: 0px 2px 0px 2px;
    outline: none;
}

.warpper-sto-tra .sto-tra-tools-two .btn-sto-tra:hover {
    background-color: rgba(253, 48, 48, 0.932);
    color: #ffffff;
    cursor: pointer;
}

.warpper-sto-tra .sto-tra-tools-two .btn-sto-tra:active {
    background-color: rgba(253, 48, 48, 0.932);
    -moz-box-shadow: .5px .8px .8px 1px rgba(253, 48, 48, 0.932);
    -webkit-box-shadow: .5px .8px .8px 1px rgba(253, 48, 48, 0.932);
    box-shadow: .5px .8px .8px 1px rgba(253, 48, 48, 0.932);
    cursor: pointer;
}

.warpper-sto-tra .sto-tra-tools-two .btn-filter {
    width: 100px;
    height: 35px;
    font-weight: bold;
    color: #202020;
    border: none;
    border-radius: 3px;
    background-color: #e0e2e6;
    margin: 0 5px 0 0px;
    outline: none;
    text-align: center;
}

.warpper-sto-tra .sto-tra-tools-two .btn-filter p {
    font-size: 13px;
    color: #6e6e6e;
    margin: 0;
}

.warpper-sto-tra .sto-tra-tools-two .btn-filter .icon-store-in {
    background: no-repeat center/100% url("/image/btn/store-in.png");
    width: 30px;
    height: 30px;
    float: left;
}

.warpper-sto-tra .sto-tra-tools-two .btn-filter .icon-store-out {
    background: no-repeat center/100% url("/image/btn/store-out.png");
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float: left;
}

.warpper-sto-tra .sto-tra-tools-two .btn-filter:hover {
    height: 35px;
    cursor: pointer;
}

.warpper-sto-tra .sto-tra-tools-two .btn-filter:hover p {
    font-size: 13px;
    color: #1975ff;
}

.warpper-sto-tra .sto-tra-tools-two .btn-filter-active {
    height: 35px !important;
    background-color: rgba(255, 57, 57, 0.973) !important;
    /*-moz-box-shadow: 1px 2px 4px 1.5px rgba(161, 161, 161, 0.973) !important;*/
    /*-webkit-box-shadow: 1px 2px 4px 1.5px rgba(161, 161, 161, 0.973) !important;*/
    /*box-shadow: 1px 2px 4px 1.5px rgba(161, 161, 161, 0.973) !important;*/
    cursor: default !important;
}

.warpper-sto-tra .sto-tra-tools-two .btn-filter-active p {
    font-size: 13px;
    color: #ffffff !important;
    font-style: initial !important;
    margin: 0;
}

.warpper-sto-tra .sto-tra-processing {
    background-color: #fded9b !important;
    color: #2b2b2b;
    border: solid 1px #ffea83 !important;
}

.warpper-sto-tra .sto-tra-tools .header {
    /*margin: 0px 5px !important;*/
    border-bottom: 2px solid #ed2324;
}

.warpper-sto-tra .sto-tra-tools .header .form-control {
    border: 1px solid #cacaca;
    border-radius: 6px;
    color: #2b2b2b;
    padding: 8px 12px;
    height: 30px;
}

.warpper-sto-tra .sto-tra-tools .header .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.warpper-sto-tra .sto-tra-tools .header .pull-r {
    float: right;
}

.warpper-sto-tra .sto-tra-tools .header .pull-l {
    float: left;
}

.warpper-sto-tra .sto-tra-tools .header h4 {
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

.warpper-sto-tra .sto-tra-tools .utility {
    border: solid 1px #d4d4d4;
    padding: 10px;
}

.warpper-sto-tra .sto-tra-tools .utility-list {
    text-align: center;
    margin-top: 5px;
}

.warpper-sto-tra .sto-tra-tools .utility-list p {
    margin: 4px;
    letter-spacing: 0;
    font-size: 13px;
}

.warpper-sto-tra .sto-tra-tools .utility-bg-header {
    background-color: rgb(252, 49, 49);
    color: white;
    font-size: 14px !important;
}

.warpper-sto-tra .sto-tra-tools .utility-bg-header p {
    font-size: 13px !important;
    font-style: italic;
    font-weight: bold;
}

.processing-table {}

.warpper-table .table-fontsize thead th {
    /* font-family: 'Arial Narrow', sans-serif;
    font-size: 12px !important;
    margin: 0;*/
}

.warpper-table .table-fontsize tbody tr td {
    /*font-size: 12px;*/
}

.warpper-table .table-transfer thead {
    background-color: rgb(255, 0, 0);
    color: white;
}

.warpper-table .table-transfer thead th {
    height: 25px;
    border: solid 1px #d4d4d4;
}

.warpper-table .table-transfer thead .th-transfer {
    text-align: center;
    font-size: 14px;
}

.warpper-table .table-transfer thead .th-transfer-right {
    text-align: right;
    padding-right: 5px;
    font-size: 14px;
}

.warpper-table .table-transfer tbody tr {
    height: 30px;
    text-align: center;
    border-bottom: solid 1px #d4d4d4;
}

.warpper-table .table-transfer tbody .tr-right {
    text-align: right !important;
    padding-right: 5px;
}

.warpper-table .table-transfer tbody tr td {
    margin: 0;
    font-size: 13px;
}

.warpper-table .table-transfer tbody tr:hover {
    background-color: #d3d3d3;
}

.sto-tra-tools .scrollbar {
    margin-bottom: 10px;
    width: 100%;
    overflow-y: scroll;
}

.sto-tra-tools .scrollbar .force-overflow {
    height: 310px;
}

.sto-tra-tools #style-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.sto-tra-tools #style-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.sto-tra-tools #style-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
}

.sto-tra-tools .chart-container {
    /* margin: auto; */
    width: 320px;
}

.sto-tra-tools .chart-left {
    float: left;
}

.sto-tra-tools .chart-right {
    float: right;
}

.warpper-table .btn-sto-table {
    width: 28px !important;
    height: 20px !important;
    font-size: 15px;
    font-weight: bold;
    color: #41A7FF;
    border: solid 1.5px #41A7FF;
    border-radius: 5px;
    background-color: transparent;
    margin: 0 !important;
    outline: none;
    padding: 0 !important;
}

.warpper-table .btn-sto-table:hover {
    background-color: #41A7FF;
    color: #ffffff;
    cursor: pointer;
}

.warpper-table .btn-sto-table:active {
    background-color: #41A7FF;
    -moz-box-shadow: .5px .8px .8px 1px rgba(77, 249, 255, 0.986);
    -webkit-box-shadow: .5px .8px .8px 1px rgba(77, 249, 255, 0.986);
    box-shadow: .5px .8px .8px 1px rgba(77, 249, 255, 0.986);
    cursor: pointer;
}

.warpper-sto-tra .sto-tra-tools-two .box-working {
    /*height: 75px;*/
    padding: 10px 10px 0px 10px;
}

.warpper-sto-tra .sto-tra-tools-two .box-working .row {
    background-color: #dadada;
    border: solid 1px #d4d4d4;
    border-radius: 4px;
    padding: 5px 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.1);
}

.warpper-sto-tra .sto-tra-tools-two .box-working .box-text p {
    margin-bottom: 0px;
    font-size: 14px;
}

.text-105 {
    padding: 0;
    text-align: center;
    /*width: 70px;*/
    /*height: 17px;*/
    background-color: #5cb85c;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px !important;
}

.text-105 p {
    /*margin: 0 3px 0 0;*/
    padding: 0;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0px;
}

.text-601 {
    padding: 0;
    text-align: center;
    /*width: 70px;*/
    /*height: 17px;*/
    background-color: #ebab34;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px !important;
}

.text-601 p {
    padding: 0;
    /*margin: 0 2px 0 0;*/
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0px;
}

.table-transferorder th,
.table-transferorder tbody td {
    padding: 10px !important;
}

.table-transferorder th:nth-child(2),
.table-transferorder th:last-child {
    width: 10%;
}

.table-transferorder th:nth-child(3) {
    width: 30%;
}

.tab-header {
    padding: 5px;
}

.search-table {
    background-color: #a5b7c7 !important;
    border: 0px solid #ddd !important;
    border-radius: 4px !important !important;
    color: #fff !important;
    height: 27px !important;
}

.table-stockitem th,
.table-stockitem tbody td {
    padding: 10px !important;
}

.table-stockitem .checkbox label {
    margin-bottom: 0px;
    position: relative;
    top: 1px;
}

.icon-home p {
    font-size: 35px;
}

.icon-menu {
    margin-top: 40px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.store-in {
    background: no-repeat center/60% url("/icon/insert-in-basket.png");
    background-color: rgb(18, 199, 33);
    /*box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);*/
}

.store-out {
    background: no-repeat center/60% url("/icon/remove-from-basket.png");
    background-color: rgb(247, 62, 62);
    /*box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);*/
}

.check-box {
    background: no-repeat center/60% url("/icon/check-box.png");
    background-color: rgb(21, 164, 247);
    /*box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);*/
}

.rack-location {
    background: no-repeat center/60% url("/icon/rack-location.png");
    background-color: rgb(253, 183, 32);
    /*box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);*/
}

.icon-header {
    background: no-repeat center/20% url("/icon/insert-in-basket.png");
    background-color: rgb(18, 199, 33);
    /*box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);*/
}

.icon-mini {
    border-radius: 4px;
    height: 35px;
    width: 35px;
    margin-left: 5px;
    cursor: pointer;
    border: 2px solid #fff;
    float: right;
}

.icon-toolbar {
    position: relative;
    top: 1px;
}

.station-label-title {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bold;
}

.station-label-desc {
    font-size: 14px;
    margin-bottom: 0px;
    color: #666;
}

.tools-warpper {
    background-color: #fdfdfd;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.tools-warpper .tool-footer {
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: right;
}

.tools-warpper .header {
    /* margin: 0px 5px !important; */
    border-bottom: 2px solid #ed2324;
}

.tools-warpper .header h4 {
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

.warpper-toolbar {
    padding: 10px;
    background-color: #e4e4e4;
}

.btn-label {
    font-family: 'kanit';
}

.icon-text-fullload p {
    font-size: 20px;
}

.icon-text-input p {
    font-size: 20px;
}

.icon-fullload {
    border-radius: 0px;
    height: 50px;
    width: 50px;
    border: 0px solid #ffffff;
}

.fullload-station {
    background: no-repeat center/100% url("/icon/fullload.png");
}

.partial-station {
    background: no-repeat center/100% url("/icon/partial.png");
    background-color:  rgb(255,140,0);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.nav.nav-tabs {
    padding: 5px;
}

.nav.nav-tabs li {
    /*padding: 5px;*/
}

.nav.nav-tabs li a.active {
    background-color: #ED2324;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.nav.nav-tabs li a {
    background-color: #e4e4e4;
    color: #3d85c6;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.nav-tabs .nav-link.active {
    color: #fdfdfd !important;
    background-color: #ed2324 !important;
    border: 0px solid #ddd;
    font-weight: initial;
}

.nav-tabs .nav-link {
    border: 0px solid transparent !important;
    background-color: #e4e4e4;
}

.nav-tabs {
    border-bottom: 0px solid #ddd !important;
}

.nav.nav-tabs li {
    display: inline-flex;
}

.table.dataTable {
    width: 100% !important;
}

.wo {
    height: 539px;
    overflow: auto;
    background-color: #a5b7c7;
}

.pr {
    height: 539px;
    overflow: auto;
    background-color: #a5b7c7;
}

.box-working {
    padding: 10px 10px 0px 10px;
}

.box-working-header {
    padding: 5px 10px;
    background-color: rgb(237, 35, 36);
}

.box-working-header h6 {
    margin-bottom: 0px;
    font-size: 12px;
    color: #fff;
}

.box-working .box-working-detail {
    background-color: #dadada;
    border: solid 1px #d4d4d4;
    padding: 5px 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.1);
}

.box-working .box-text p {
    margin-bottom: 0px;
    font-size: 14px;
}

.box-working:last-child {
    padding-bottom: 10px;
}

.check-preparing {
    position: relative;
    top: 8px;
}

/* bootstrap 4 */

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.btn-success:focus, .btn-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
          box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  background-image: none;
  border-color: #419641;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #eb9316;
}

.btn-warning:focus, .btn-warning.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
          box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-warning:active, .btn-warning.active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  background-image: none;
  border-color: #eb9316;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}

.btn-danger:focus, .btn-danger.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
          box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:active, .btn-danger.active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  background-image: none;
  border-color: #c12e2a;
}

.btn-outline-primary {
  color: #0275d8;
  background-image: none;
  background-color: transparent;
  border-color: #0275d8;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0275d8;
  background-color: transparent;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-outline-secondary {
  color: #ccc;
  background-image: none;
  background-color: transparent;
  border-color: #ccc;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #ccc;
  background-color: transparent;
}

.btn-outline-secondary:active, .btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-outline-info {
  color: #5bc0de;
  background-image: none;
  background-color: transparent;
  border-color: #5bc0de;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #5bc0de;
  background-color: transparent;
}

.btn-outline-info:active, .btn-outline-info.active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-outline-success {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
          box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #5cb85c;
  background-color: transparent;
}

.btn-outline-success:active, .btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-outline-warning {
  color: #f0ad4e;
  background-image: none;
  background-color: transparent;
  border-color: #f0ad4e;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
          box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #f0ad4e;
  background-color: transparent;
}

.btn-outline-warning:active, .btn-outline-warning.active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-outline-danger {
  color: #d9534f;
  background-image: none;
  background-color: transparent;
  border-color: #d9534f;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
          box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #d9534f;
  background-color: transparent;
}

.btn-outline-danger:active, .btn-outline-danger.active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-link {
  font-weight: normal;
  color: #0275d8;
  border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled {
  background-color: transparent;
}

.btn-link, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}

.btn-link:hover {
  border-color: transparent;
}

.btn-link:focus, .btn-link:hover {
  color: #014c8c;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link:disabled {
  color: #636c72;
}

.btn-link:disabled:focus, .btn-link:disabled:hover {
  text-decoration: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}