<template name="dashboard">
    {{> LayoutHeader}} {{> LayoutNav}}
    <div id="content-container">
        <div id="page-title">
            <h1 class="page-header text-overflow">Dashboard</h1>
        </div>
        <div id="page-content">
            <div class="content-area">
                <div class="row">
                    <div class="col-m-12">
                        <div class="warpper-area">
                            <div class="tools-warpper">
                                <div class="header">
                                    <h4>24 Hours Later</h4>
                                </div>
                                <div>
                                    {{lineGrape}}
                                    <canvas id="DailyChart" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="tools-warpper">
                            <div class="header">
                                <h4>
                                    SAP Item Master
                                    <a href="/report/sapmasteritem">more</a>
                                </h4>
                            </div>
                            <div>
                                {{> tabular table=TabularTables.SapItemMaster class="table"}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tools-warpper">
                            <div class="header">
                                <h4>
                                    SAP Transfer Operate
                                    <a href="/report/saptransferoperate">more</a>
                                </h4>
                            </div>
                            <div>
                                {{> tabular table=TabularTables.SapTransferOperate class="table"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="tools-warpper">
                            <div class="header">
                                <h4>
                                    Archive Transfer Order
                                    <a href="/report/exporttransferorder">more</a>
                                </h4>
                            </div>
                            <div>
                                {{> tabular table=TabularTables.ExportTransferOrder selector=selector class="table"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> ModalSAPMasterItem }}

        {{> ModalSAPTransferOperate }}

        {{> ModalSAPMasterItemCompare }}

        {{> ModalExportTransferOrder}}

        {{> ModalSAPTransferOperateCompare}}

    </div>
    {{> LayoutFooter}}
</template>
