@font-face {
    font-family: 'db-sathorn-x';
    src: url('/font/db-sathorn-x.eot');
    src: url('/font/db-sathorn-x.eot?#iefix') format('embedded-opentype'), url('/font/db-sathorn-x.woff') format('woff'), url('/font/db-sathorn-x.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db-sathorn-x-bd';
    src: url('/font/db-sathorn-x-bd.eot');
    src: url('/font/db-sathorn-x-bd.eot?#iefix') format('embedded-opentype'), url('/font/db-sathorn-x-bd.woff') format('woff'), url('/font/db-sathorn-x-bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db-sathorn-x-italic';
    src: url('/font/db-sathorn-x-italic.eot');
    src: url('/font/db-sathorn-x-italic.eot?#iefix') format('embedded-opentype'), url('/font/db-sathorn-x-italic.woff') format('woff'), url('/font/db-sathorn-x-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db-sathorn-x-med';
    src: url('/font/db-sathorn-x-med.eot');
    src: url('/font/db-sathorn-x-med.eot?#iefix') format('embedded-opentype'), url('/font/db-sathorn-x-med.woff') format('woff'), url('/font/db-sathorn-x-med.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db-thaitext';
    src: url('/font/DBThaiTextX.eot');
    src: url('/font/DBThaiTextX.eot?#iefix') format('embedded-opentype'), url('/font/DBThaiTextX.woff') format('woff'), url('/font/DBThaiTextX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('/font/Kanit-Light.eot');
    src: url('/font/Kanit-Light.eot?#iefix') format('embedded-opentype'), url('/font/Kanit-Light.ttf') format('truetype');
}